[2018-08-20 19:42] tlancina opened #1 "Run command for iOS on OS X"
- [x] Smart defaults for target (latest for simulator or first connected device if available)
- [x] mount Developer Disk Image if not already mounted
- [x] install app on device
- [x] run app on device
- [x] start debugserver proxy
- [x] `--json` flag to output json logs
- [x] stop running app (and Simulator if applicable) on exit
- [x] stop process if app is closed or device disconnected

[2018-08-20 19:42] imhoffd opened #2 "Run command for Android"
- [x] Create default AVD if missing
- [x] Smart defaults for target (prefer devices, then choose default avd)
- [x] Check if emulator is running for chosen target
- [x] Install app on device
- [x] Run app on device
- [x] ~`--json` flag to output log messages and errors in JSON~
- [x] Stop running app on exit
- [x] Stop process if app is closed or device disconnected

[2018-08-24 21:34] imhoffd opened #3 "Extract Application ID from APK"
It may be possible to pull the Application ID (`io.ionic.starter`, for example) from the specified APK file. The Application ID is required for `am start`.

[2018-09-10 19:32] imhoffd opened #4 "Download needed packages automatically"
We can download and install the Android platform, sources, and system images from the repository automatically.

[2018-09-12 18:04] dwieeb opened #5 "More reliable adb invocations"
adb is a client/server tool between computer and device and can sometimes get screwed up.

Add a timeout and retry to all `adb` invocations, being sure to use `adb kill-server`

[2018-09-12 18:07] imhoffd opened #6 "Investigate incorrect targeting with running emulator"
Using `--target` to target a different AVD while an emulator is running seems to prefer the running emulator, which is incorrect behavior.

[2018-09-12 19:44] #2 closed, assigned to nobody

[2018-09-12 20:11] dwieeb opened #7 "Improve error messaging"

[2018-09-12 21:30] dwieeb opened #8 "Skins maybe shouldn't be required"

[2018-11-25 22:08] #1 closed, assigned to nobody

[2018-11-25 22:16] tlancina opened #9 "Test on OS other than macOS"
I'm sure there are things that will break that we can handle more gracefully on Linux/Windows

[2018-11-26 05:16] #3 closed, assigned to nobody

[2018-11-26 19:51] dwieeb opened #10 "Columnize `--list` output"
The output of devices and virtual devices can be columized for readability.

Example output:

[code]

vs

[code]

[2018-11-26 19:57] dwieeb opened #11 "Retitle `native-run --list` headers"
The titles in the output of `native-run --list` (where it lists devices/virtual devices of both Android & iOS) look odd when placed together because there's two "Virtual Devices":

Current output:

[code]

[2019-02-18 15:26] dwieeb opened #13 "Gracefully handle issues with IPA file"
Example:

[code]

📝 the unredacted version if the filename had spaces. unsure if relevant

[2019-03-07 21:41] tlancina opened #14 "Latest iOS Simulators break native-run --list"
![image](https://user-images.githubusercontent.com/804331/53991006-71f04580-40de-11e9-8fe9-9cbfc14a7a95.png)

Also, Tim needs to learn defensive programming

[2019-04-25 21:45] tlancina commented on #14
Fixed in https://github.com/ionic-team/native-run/commit/a6af18c52fc0772d4dc2601dbafdc8a8c86812d0.

[2019-04-25 21:45] #14 closed

[2019-04-25 22:08] tlancina commented on #13
Addressed in https://github.com/ionic-team/native-run/commit/b77ad3a0ca2a60efae72a7ee4c3b17197b8b0a25.

[2019-04-25 22:08] #13 closed

[2019-05-10 23:46] dwieeb opened #20 "Support for port forwarding"
Like `adb reverse`. Make it happen for iOS so we can use `localhost` as the host.

[2019-05-17 22:01] dwieeb commented on #8
resolved by https://github.com/ionic-team/native-run/commit/7e4b946c018f1427bf9c461636417c343f51d6c3

[2019-05-17 22:01] #8 closed

[2019-05-29 18:50] #11 closed

[2019-05-29 18:52] Ionitron commented on #11
:tada: This issue has been resolved in version 0.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-29 19:21] #9 closed

[2019-05-29 20:33] luciojb opened #22 "ADB deployment and --list option unhandled error"
Hi all.

Just today i updated my ionic cli to 5.0.0, but could not run on android anymore as it asked for native run Ok, installed it. No run either....

[code]

Then i tried with the --no-native-run flag, and then it ran fine. I'm using ADB to connect my phone.

The problem is, as i'm trying to run without that ugly flag (no-native-run), and tried to list the connected devices. I got this output:

[2019-05-29 20:46] dwieeb commented on #22
@luciojb What is the output of `native-run android --sdk-info --verbose` ?

[2019-05-29 20:56] dwieeb opened #23 "AVD system images shouldn't be required for --list"
The `No suitable API installation found.` error occurs because of missing system images (which are required for emulators). `native-run android --list` should still work even with no emulator support.

[2019-05-29 20:56] dwieeb commented on #22
I'm guessing you don't have a system image installed, which actually isn't an issue if you're only wanting to target hardware devices. So, I'll log this as a bug: https://github.com/ionic-team/native-run/issues/23

[2019-05-29 20:59] dwieeb commented on #22
@luciojb The usbmuxd unhandled error is actually because the bare `--list` is trying to list iOS devices. We're working on a better solution for that, too.

You can list just Android devices with `native-run android --list`.

[2019-05-29 21:01] dwieeb commented on #22
Can you elaborate on what you meant here?

You still need a cable to deploy the app to your device, right? The same cable can be used to have your app connected to the dev server.

[2019-05-29 21:45] #23 closed

[2019-05-29 21:49] Ionitron commented on #23
:tada: This issue has been resolved in version 0.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-30 10:45] jackbayliss opened #24 "native run android --list not showing device"
Hi. So because of updating the ionic cli to 5.0.0 native-run is required. I have been trying to run the following command :
`$ ionic cordova run android --device `

In short, it kept trying to open the Emulator rather than use my device, I checked native-run android --list, but the device was not appearing, however, it is appearing in adb devices.

I am able to get around running it with the `--no

[2019-05-30 12:08] aloisogomes commented on #24
Hi, i have some problem, my we downgrade ionic-cli?

[2019-05-30 15:33] falquinho commented on #7
Just to add to this. Today I updated Ionic to 5.0.0 and now I have to use native-run.
I then proceed to deploy my app like always: "ionic cordova run android --device"
Then native-run erros out with a cryptic message "ERR_UNSUITABLE_API_INSTALLATION", leading me to believe something is broken with my install. I had to look the source in github to understand it was looking for an AVD and it did not

[2019-05-30 18:58] luciojb commented on #22
Using adb, actually you just connect the cable once to configure the tool. You run `adb tcpip <port>` and then `adb connect <android device's ip>:<port from previous step>`. Then, you can disconnect the cable and Ionic (ionic cordova run android, in previous versions) would deploy to the device configured with adb. Next time, say, tomorrow, i just run that second command (adb connect ...) and then

[2019-05-30 19:11] luciojb commented on #22
Hi again. Running a few commands, it seems there is something happening using this package and adb... Here i'll put some flow of commands running to understand this. I hope it'll be useful.
[code]

Sorry if this isn't very legible, but i'm not good with markdown, so i'm just using code. Also, i don't have the time right now to format it properly. :)

[2019-05-30 19:22] luciojb commented on #24
I'm facing the same issue (#22). You can run with the

`--no-native-run`

 flag, like

`ionic cordova run android --no-native-run`

At least for me it worked, instead of downgrading.

[2019-05-30 19:30] aloisogomes commented on #24
Nice trick!

[2019-05-30 19:32] #7 closed

[2019-05-30 19:34] dwieeb commented on #7
@falquinho This should be improved in the next release! Let me know your thoughts it when you see it! Thanks for your feedback.

[2019-05-30 19:36] Ionitron commented on #7
:tada: This issue has been resolved in version 0.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-30 19:38] dwieeb commented on #24
@jackbayliss Can you post the output of `native-run android --list --verbose` ?

[2019-05-30 19:40] jackbayliss commented on #24
@dwieeb  Will do first thing tomorrow!

[2019-05-30 19:54] dwieeb commented on #22
Cool, makes sense.

So it looks like native-run is breaking that connection? I'm not sure how that's possible. To list devices, we simply run `adb devices -l`.

Can you run `native-run android --list --verbose`? Perhaps there's an error being hidden. It will at least reveal more.

[2019-05-30 20:30] AshleyJBartlett commented on #24
Hey all, I have the same issue.

@dwieeb - Here is my output (I hope it helps):
[code]

[2019-05-30 20:38] AshleyJBartlett commented on #24
@aloisogomes - I downgraded to that version and got a different error. Any ideas?
[code]

[2019-05-30 20:45] dwieeb commented on #24
@AshleyJBartlett Thanks! That narrows it down to how we're parsing adb devices.

Can you post the output of `adb devices -l`?

[2019-05-30 20:46] AshleyJBartlett commented on #24
@dwieeb - No worries! Here it is:
[code]

[2019-05-30 20:52] dwieeb commented on #24
Thanks! Looks like an issue with the parser and Windows EOL (`\r\n`). Fixing that. Is anyone getting this issue who's not on Windows?

[2019-05-30 21:04] #24 closed

[2019-05-30 21:07] Ionitron commented on #24
:tada: This issue has been resolved in version 0.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-30 21:08] dwieeb commented on #24
Okay, marking this as done! Please update native-run to 0.2.1 and devices should be listed.

For anyone not on Windows, please create a new issue! 👍

Thanks everyone!

[2019-05-31 08:37] aloisogomes commented on #24
Nice trick

Em qui, 30 de mai de 2019 16:22, Lúcio José Beirão <notifications@github.com>
escreveu:

[2019-05-31 13:27] MarkAMcCorkle opened #27 "The device rejected the pairing attempt"
Using the recommended new way to live reload run an ionic iOS app to device never runs on the device.
`ionic cordova run ios -l --address=0.0.0.0`

Doing a simpler `ionic cordova run ios` also never runs on the device.

This is what actually runs from the console with no response. The app runs fine directly from Xcode.
`native-run ios --app platforms/ios/build/device/MyApp.ipa --connect --forward

[2019-05-31 13:40] shuhikari opened #28 "Android device over tcpip:5555 error: more than one device/emulator"
When trying to run `ionic cordova run android --livereload` with a device over tcpip:5555 It won't find the correct device

[code]

[2019-05-31 17:19] luciojb commented on #22
I'll put the result of the suggested commands to run below:
[code]

[2019-05-31 17:38] luciojb commented on #24
Thanks, @aloisogomes!

[2019-05-31 17:51] zakton5 commented on #27
Having a similar issue. I'm getting this error when deploying to a device. It works fine on an emulator

[code]

[2019-05-31 18:06] dwieeb commented on #27
@MarkAMcCorkle ` native-run ios --app platforms/ios/build/device/MyApp.ipa` has no output? Can you post the output of `native-run ios --app platforms/ios/build/device/MyApp.ipa --verbose` (if any)?

[2019-05-31 18:19] luciojb commented on #22
Searching for this:

`  native-run:android:utils:avd:getDefaultAVDSchematic Issue with API 28: Unsatisfied packages within API 28: system-images;android-28;google_apis_playstore;x86 +0ms
`

I found [this gist](https://gist.github.com/mrk-han/66ac1a724456cadf1c93f4218c6060ae) and then ran:

[code]

Fine, now the ionic command ran successfully.... In an emulator! He still cannot find my device throu

[2019-05-31 18:34] dwieeb opened #30 "devices connected over tcp/ip aren't parsed"

[2019-05-31 18:35] dwieeb commented on #22
@luciojb Yeah, the system image is only used for emulators. You can force native-run to use a device with `--device`, but there's a bug: it doesn't handle devices connected over tcp/ip. Just made this issue to track that: https://github.com/ionic-team/native-run/issues/30

[2019-05-31 18:35] #30 closed

[2019-05-31 18:37] luciojb commented on #22
Yeah, though so too. So i'll wait until the tcp/ip bug on --device is fixed. Thank you very much for following this issue! :)

[2019-05-31 18:49] dwieeb commented on #22
@luciojb Thank you for being so responsive and patient!

Could you try with a test release? `npm i -g native-run@0.2.2-testing.0`

I think there's still an underlying issue. With my testing, I was still able to get a device but it was wrong, whereas your output suggests it doesn't find the device at all (`native-run:android:utils:adb:getDevices Found adb devices: [] +3`)

If it still doesn't work

[2019-05-31 18:54] dwieeb commented on #28
The `more than one device/emulator` error usually occurs when the target is ambiguous, which is why native-run invokes `adb` with the serial flag (`adb -s 192.168.0.7:5555`). Not sure why this is happening. What's the output of `adb devices -l`?

[2019-05-31 19:00] luciojb commented on #22
Installed the testing version, even then the device isn't found. It runs in the emulator even with --device. So i'm posting the commands i ran with this testing version:

[code]

[2019-05-31 19:10] dwieeb commented on #22
Maybe this is related to this issue: `adb server version (41) doesn't match this client (39); killing...`

If the server/client connection keeps breaking, native-run can't get the list of devices...

[2019-05-31 19:24] luciojb commented on #22
Well, this only happens when i run the native-run commands, explicitly or not - using ionic, it runs behind, it's not explicit but it's running, as you can see with my `ionic cordova run android --device --verbose`:

[code]

It cannot find my device either, like in this lines:

[code]

As you can see in the outputs in the other comments, i connect to the device, then run native-run commands and th

[2019-05-31 19:37] luciojb commented on #22
[https://stackoverflow.com/questions/43050370/adb-server-version-36-doesnt-match-this-client-39-not-using-genymotion](https://stackoverflow.com/questions/43050370/adb-server-version-36-doesnt-match-this-client-39-not-using-genymotion)

Here, we have this thing: i installed adb through my ubuntu terminal. But the Android SDK also offers an adb tool within platform-tools folder.

When i use adb in t

[2019-05-31 19:38] dwieeb commented on #22
I was just going to ask for the output of `which adb`!

[2019-05-31 19:40] dwieeb commented on #22
@luciojb Here are some docs on setting up your PATH to use binaries inside your installed SDK: https://ionicframework.com/docs/installation/android#configuring-command-line-tools

[2019-05-31 19:42] dwieeb commented on #22
I am debating whether it makes sense for native-run to prefer a "global" adb or the one installed with the SDK. Generally it's better if the Android tools are all managed in the same place. Also, I believe Android Studio will prefer the tools inside the SDK as well.

[2019-05-31 19:44] luciojb commented on #22
I think so too, but i don't know the impact over the people who are using the global one. Maybe show a message when trying to run or something like that, like "Make sure you are using the Android SDK provided ADB tool".

I updated my path to `export PATH=$PATH:$ANDROID_HOME/platform-tools` and removed the global one.

[2019-05-31 19:50] Ionitron commented on #30
:tada: This issue has been resolved in version 0.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 20:04] dwieeb opened #31 "Review usage of Android tool binaries"
Sometimes, Android tools can be installed separately from the SDK. We should at least detect when these external tools are found and warn that native-run will not use them OR native-run should use them if found because it's likely what is being used anyway.

[2019-05-31 20:05] dwieeb commented on #22
Awesome!

Made an issue for that: https://github.com/ionic-team/native-run/issues/31

[2019-05-31 20:07] dwieeb commented on #22
@luciojb Can this be closed then? 😄

[2019-05-31 20:32] luciojb commented on #22
Yes, can be closed! Thanks for your help!

[2019-05-31 20:32] #22 closed

[2019-05-31 20:33] dwieeb commented on #22
Thanks again for your patience! 😄

[2019-06-01 00:15] shuhikari commented on #28
@dwieeb  the output shows only the device connected

[code]

[2019-06-03 14:29] MarkAMcCorkle commented on #27
@dwieeb The last lines showing in the terminal after running the requested command are below.

[code]

[2019-06-03 15:26] MarkAMcCorkle commented on #27
**UPDATE**. I finally got the device to run the app although I still can't get live reload to work. However, this does at least let native-run finally run on the device without having to launch Xcode to run each time. Live-reload is still an issue (just sits at the ionic splash screen)
**SOLUTION**: (Only works for `ionic cordova run ios --device`without -l)
Enter iOS device settings app -> Genera

[2019-06-03 19:36] dwieeb commented on #28
What is the output of `native-run android --app platforms/android/app/build/outputs/apk/debug/app-debug.apk --verbose` ?

[2019-06-03 19:52] luciojb commented on #28
I'm back! Having the same issue. May be related in some way with #22, but maybe not. It is running fine without livereload. Here's the output with `ionic cordova run android --livereload --verbose`:

[code]

and here is the output with `native-run android --app platforms/android/app/build/outputs/apk/debug/app-debug.apk --verbose`:

[code]

With the last one the app is installed in the phone, but

[2019-06-03 20:17] luciojb commented on #28
Got it working only with this command:

`ionic cordova run android --address 0.0.0.0 --port 8100 --livereload --no-native-run`

[2019-06-03 22:21] giladrom commented on #27
I have the same issue. Ionic 3 project with the latest CLI.

[2019-06-04 00:22] dwieeb commented on #28
Looks like we're running into this: https://stackoverflow.com/questions/51592477/adb-s-192-168-1-65555-error-more-than-one-device-emulator 😞

Does adb not support port forwarding on devices connected over tcp/ip? I haven't been able to find anything saying it does or does not.

[2019-06-04 00:28] dwieeb commented on #27
This issue occurs when the device rejects pairing because of trust settings between device & computer. When they're first connected, a prompt comes up to "Trust" or "Don't Trust", and the choice appears permanent unless all the network settings are reset. (Settings App on iOS device -> General -> Reset -> Reset Network Settings) as @MarkAMcCorkle mentioned.

[2019-06-04 14:25] koraysels opened #32 "Can native-run be used without Ionic?"
I have a cordova + angular 8 project that uses a lot of ionic native plugins which are awesome! RIght now I am trying to implement in app purchase which is a real pain! Especially because I have to compila and run each time...
I want to use native-run to speed up the process and prevent me from having a mental breakdown.

I tried the following command
```native-run ios --app platforms/ios/build/de

[2019-06-04 21:00] bnallmaster commented on #27
I went back to 4.12.0 CLI and live reload worked as expected (without logs of course).

[2019-06-04 21:01] bnallmaster commented on #27
I am having a similar issue with Ionic CLI 5.0.0. I finally got it to build and got things updated and installed and the Livereload is not working. For a while I was getting an error that said nodeModule is null. I resolved that issue and both ionic cordova run ios and cordova run ios are launching the app. When I try ionic cordova run ios -l or --livereload it acts like it is building and no erro

[2019-06-04 23:10] dwieeb commented on #32
First let me say that native-run was designed to do one thing well: deploy app binaries to Android and iOS. It does not concern itself with the concept of a "livereload server".

The biggest issue you'll find is that Cordova has JS assets that need to be included in your app apart from those compiled by the Angular CLI. When coupled with the fact that the livereload server is completely in memory,

[2019-06-05 01:28] dwieeb commented on #27
@bnallmaster's issue is continued here: https://github.com/ionic-team/ionic-cli/issues/4008

[2019-06-05 03:57] dwieeb opened #34 "ERR_NON_ZERO_EXIT: Non-zero exit code from Emulator: 1"
This is an unhelpful error message and requires `--verbose` to uncover the cause.

Additionally, when it occurs the native-run process continues running despite encountering a fatal error. This is because `waitForDevice` is called beforehand, which spawns an `adb` process that will never complete.

[2019-06-05 08:17] colinl-intelliacc opened #35 "`--list` ECONNREFUSED 127.0.0.1:27015"
#### Description

When running `native-run --list`, an unhandled error is thrown. It seems a connection attempt is being made to `127.0.0.1:27015`, but the connection is failing. This results in devices not being found, even though `adb` returns the devices correctly.

#### Output
[code]

[code]

[2019-06-05 08:34] koraysels commented on #32
does this work with angular 8? because I seem to have some issues with "Use the Ionic CLI without Ionic Framework"

My project has a different name than 'app' so I changed the architect files accordingly and included the `--project=<myname>` option but Istill get issues

[code]

[2019-06-05 19:50] dwieeb commented on #35
Looks like you're on Windows and it's trying to get iOS devices. We'll improve this message soon. For now, you can use `native-run android --list` to only list Android devices.

[2019-06-05 20:30] tuannguyendotme opened #44 "Cannot run app in iOS simulator with "ERR_UNKNOWN: Unable to retrieve simulator list" error"
**Description:**
I run "ionic cordova emulate ios" in Terminal and got "ERR_UNKNOWN: Unable to retrieve simulator list" error. It worked fine with CLI v4.12.0

**Output:**

**My `ionic info`:**

[code]

[2019-06-06 05:28] gaurav-chandra opened #45 "Error: Command failed: adb shell getprop"
**Description:**

After updating android platform tools to version 29, native-run crashes with exit code 1.

**Steps to Reproduce:**

1) using platform tools v28.0.2 = ```$ ionic cordova run android``` the app is successfully installed on device

2) update platform tools to latest v29

3) using latest platform tools = ```$ ionic cordova run android``` native-run stops with exit code 1

**Output:**

[2019-06-06 06:57] colinl-intelliacc commented on #35
The `[ios|android]` argument option slipped past me. `native-run android --list` does indeed get rid of the error. Unfortunately the device list does not return connected devices that have been discovered by `adb`. Could this perhaps be because no virtual devices are present?

#### Output
[code]
[code]

[2019-06-06 10:02] Monarch73 opened #36 "hardware/emulation device detection seems to be broken"
My USB-Connected Galaxy Tab S2 device is reconized as emulated-device in npm paket native-run@0.2.1. There seems to be a bug in the adb.ts file.

I also think its a bad idea to determin whenever  a device is emulation or hardware by checking if its connected via IP or USB.

There is better ways. For instance
ro.sf.lcd_density usualy specifies the Displays DPI on hardware. Emulators don't provide s

[2019-06-06 15:45] dwieeb commented on #35
Interesting... is the CUBOT_KING_KONG a hardware device? If so, how is it connected?

[2019-06-06 16:31] mightytyphoon opened #37 "ERR_NO_TARGET"
Hi, I get this error whereas I have my device created with avdmanager.

Here is the error :

[code]

So I used avd to get devices :
[code]

And Targets :
[code]
All my paths are set up.
I have tried several things but can't get this to work.
I would like some help on this since I couldn't find anything in issues on this repo, or on the web.

Regards.

Full output of `ionic cordova emulate android`

[2019-06-06 16:56] mightytyphoon opened #38 "ERROR : processes not found"
Hi Folks,
On running ``ionic cordova emulate android`` it looks like some processes are not found :

[code]

Full Output :
[code]

[2019-06-06 16:59] mightytyphoon commented on #37
So it works using the --target option on ionic command :

[code]

to get the target, list your devices with `avdmanager list avd` command and use the name of the device you want.

[2019-06-06 17:00] #37 closed

[2019-06-06 17:03] mightytyphoon commented on #38
may be related with https://github.com/ionic-team/ionic-cli/issues/4011

[2019-06-06 17:20] mightytyphoon commented on #38
# Temporaly Fixed by Downgrading platform-tools

more infos here : https://github.com/flutter/flutter/issues/33938#issuecomment-499250288

[2019-06-06 17:48] mightytyphoon opened #39 "[native-run] adb.exe: error: cannot bind listener: Operation not permitted"
Hi,
This error occurs while using livereload command (-l flag), it seems that adb.exe refuses to bind to listener.
This could be related to the update made by google.

command used : ```ionic cordova emulate android -l```
Output :
[code]

[2019-06-06 21:24] dwieeb commented on #38
Having errors in verbose log output doesn't always mean something is broken.

The real issue here is that the `adb -s emulator-5554 shell getprop` command failed, but that appears to be a duplicate of https://github.com/ionic-team/ionic-cli/issues/4011

[2019-06-06 21:24] #38 closed

[2019-06-07 05:40] colinl-intelliacc commented on #35
Yes, it's a hardware device. It's connected via USB to the computer we're seeing output on. I've attached `adb shell getprop` output in an attempt to provide more information about the device.

[cubot_king_kong_adb_shell_getprop.txt](https://github.com/ionic-team/native-run/files/3264529/cubot_king_kong_adb_shell_getprop.txt)

[2019-06-07 14:05] mtarroyo opened #40 "SyntaxError: Unexpected token e in JSON at position 0"
cordova 9.0.0 (cordova-lib@9.0.1)
ionic 5.0.1
native-run 0.2.3

When executing "ionic cordova run android" without specifying a target (Eg.: --device) the native-run script throws the following error:

[code]

This is not so intuitive and take me some time to realise that the problema was the ausence of the "--device" option

[2019-06-07 15:39] dwieeb commented on #40
@mtarroyo What is the output of `native-run android --list --json --verbose` ?

[2019-06-07 15:42] Borongaj opened #41 "ERR_UNKNOWN: Path 'platforms/ios/build/emulator/myapp.app' not found"
ionic cordova prepare ios
ionic cordova run ios -l --address=0.0.0.0 --verbose

### This is the ending log:

[cordova]
[cordova] No scripts found for hook "after_compile".
[cordova] No scripts found for hook "after_build".
native-run ios --app platforms/ios/build/emulator/myapp.app --virtual --connect --forward 8100:8100 --verbose
[native-run] 2019-06-07T15:29:56.431Z native-run Caught fatal error

[2019-06-07 15:49] dwieeb commented on #41
@Borongaj What is the output just before that? Where is Cordova putting the `.app` binary?

[2019-06-07 16:22] mtarroyo commented on #40
It outputs a bunch of information about SDK locations, android virtual devices and connected physical devices. Before finalize the execution it throws the following exception:

`events.js:174
      throw er; // Unhandled 'error' event
      ^

Error: ENOENT: no such file or directory, lstat '~/Android/Sdk/tools/��b'
Emitted 'error' event at:
    at fs.lstat (/usr/local/node/lib/node_modules/nati

[2019-06-07 17:03] Borongaj commented on #41
### Log before :

[cordova] Preparing Firebase on iOS
[cordova] No scripts found for hook "before_compile".
[cordova] Building for iPhone Xʀ Simulator
[cordova] Building project: /Users/laurentgleizes/Documents/DEV/Ionic/myapp/platforms/ios/myapp.xcworkspace
[cordova]       Configuration: Debug
[cordova]       Platform: emulator
[cordova] Build settings from command line:
[cordova]     CONFIGURATI

[2019-06-07 18:31] dwieeb commented on #40
@mtarroyo Okay, looks like a bug in the SDK walker. In the next release, native-run will simply log errors with directories or files instead of failing like that ^

[2019-06-07 19:13] Ionitron commented on #40
:tada: This issue has been resolved in version 0.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 19:16] dwieeb commented on #41
The path you provided is where Xcode puts the binary, not Cordova.

Look in `./platforms/ios/build/emulator`. I am just trying to discover why the binary isn't where it's supposed to be.

[2019-06-07 19:18] dwieeb commented on #41
Could you also provide the output of `ionic info`?

[2019-06-07 19:26] MarkAMcCorkle commented on #27
The latest native-run@0.2.4 has solved all my issues.

[2019-06-07 19:26] #27 closed

[2019-06-07 19:54] mtarroyo commented on #40
cordova 9.0.0 (cordova-lib@9.0.1)
ionic 5.0.1
native-run 0.2.4

`ionic cordova run android -l` still gives me the following error if I do not specify `--device` option:

[code]
And the command `native-run android --list --json --verbose` still gives me the same error as version 0.2.3:

[code]

[2019-06-07 20:02] Borongaj commented on #41
Seems related to Xcode New Build System ('Modern' one).

I solved the problem adding this file inside my project root folder :

**Filename** : build.json

**Content** :

{
 "ios": {
    "debug": {
      "buildFlag": [
        "-UseModernBuildSystem=0"
      ],
      "developmentTeam": "YOUR_DEV_TEAM_ID"
    },
    "release": {
      "buildFlag": [
        "-UseModernBuildSystem=0"
      ],
      "

[2019-06-08 21:33] osben opened #42 "No connected devices found"
**λ  native-run --list**
iOS
---
Connected Devices:
  No connected devices found
Virtual Devices:
  No virtual devices found
Android
-------
Connected Devices:
  No connected devices found
Virtual Devices:
  Pixel 2 API 28 (API 28) Pixel_2_API_28

**λ adb devices**
List of devices attached
abfe908d0504    device

[2019-06-08 21:47] osben commented on #42
λ adb devices -l
List of devices attached
abfe908d0504           device product:tissot model:Mi_A1 device:tissot_sprout transport_id:1

[2019-06-08 21:51] osben commented on #42
2019-06-08T21:49:17.277Z native-run Caught fatal error: Error: Command failed: C:\Users\osben\AppData\Local\Android\Sdk\platform-tools/adb -s abfe908d0504 shell getprop
[native-run]
[native-run]     at ChildProcess.exithandler (child_process.js:304:12)
[native-run]     at ChildProcess.emit (events.js:196:13)
[native-run]     at maybeClose (internal/child_process.js:1011:16)
[native-run]     at Pro

[2019-06-10 01:26] mimzo-solutions opened #43 "Error: Command failed: adb -s emulator-5554 shell getprop"
Ionic:

   Ionic CLI                     : 5.0.1 (C:\Users\admin\AppData\Roaming\npm\nod
e_modules\ionic)
   Ionic Framework               : @ionic/angular 4.4.2
   @angular-devkit/build-angular : 0.13.9
   @angular-devkit/schematics    : 7.3.9
   @angular/cli                  : 7.3.9
   @ionic/angular-toolkit        : 1.5.1

Cordova:

   Cordova CLI       : 9.0.0 (cordova-lib@9.0.1)
   Cordova Pl

[2019-06-10 13:47] borisjotic commented on #42
I had similar issue on macos (no devices), for me bug was solved by downgrading ionic-cli from 5.x to 4.12.0...
my ionic info (working one):
[code]

[2019-06-10 17:58] dwieeb commented on #40
I must've missed something.

What is that weird file located at `~/Android/Sdk/tools/����b` ?

[2019-06-10 18:36] dwieeb commented on #43
Duplicate of https://github.com/ionic-team/native-run/issues/45

[2019-06-10 18:36] #43 closed

[2019-06-10 18:37] dwieeb commented on #45
Looks like a few others have been getting this issue even with platform tool versions earlier than 29.

[2019-06-10 18:40] dwieeb commented on #42
@osben I'm guessing this is related to https://github.com/ionic-team/native-run/issues/36

[2019-06-10 19:06] dwieeb commented on #45
@TorbenJ @Ilde314 @NurGuz23 Could you update native-run and see if it's fixed for you?

`npm i -g native-run@latest`

[2019-06-10 19:17] Ilde314 commented on #45
No, its not working, sorry ...

*********
BUILD SUCCESSFUL in 19s
42 actionable tasks: 42 up-to-date
Built the following apk(s):
        D:\ionicProyects\borrar\platforms\android\app\build\outputs\apk\debug\app-debug.apk

Error: Command failed: C:\Users\ildef\AppData\Local\Android\Sdk\platform-tools\adb -s emulator-5554 shell getprop

    at ChildProcess.exithandler (child_process.js:294:12)
    a

[2019-06-10 19:22] dwieeb commented on #45
@Ilde314 What happens if you run `adb -s emulator-5554 shell getprop` ?

[2019-06-10 19:23] Ilde314 commented on #45
D:\ionicProyects\borrar>adb -s emulator-5554 shell getprop
[dalvik.vm.appimageformat]: [lz4]
[dalvik.vm.dex2oat-Xms]: [64m]
[dalvik.vm.dex2oat-Xmx]: [512m]
[dalvik.vm.dex2oat-minidebuginfo]: [true]
[dalvik.vm.dexopt.secondary]: [true]
[dalvik.vm.heapsize]: [384m]
[dalvik.vm.image-dex2oat-Xms]: [64m]
[dalvik.vm.image-dex2oat-Xmx]: [64m]
[dalvik.vm.isa.x86.features]: [default]
[dalvik.vm.isa.x86.var

[2019-06-10 19:32] dwieeb commented on #45
@Ilde314 Is the `adb` you're invoking the same one as `C:\Users\ildef\AppData\Local\Android\Sdk\platform-tools\adb`? Or do you have it installed somewhere else?

What is the output of `echo %errorlevel%` after you run that command?

[2019-06-10 19:36] Ilde314 commented on #45
D:\ionicProyects\borrar>adb
Android Debug Bridge version 1.0.41
Version 29.0.0-5611747
Installed as C:\Users\ildef\AppData\Local\Android\Sdk\platform-tools\adb.exe

D:\ionicProyects\borrar>C:\Users\ildef\AppData\Local\Android\Sdk\platform-tools\adb
Android Debug Bridge version 1.0.41
Version 29.0.0-5611747
Installed as C:\Users\ildef\AppData\Local\Android\Sdk\platform-tools\adb.exe

global options

[2019-06-10 19:37] Ilde314 commented on #45
Yes, it is the same as you can see in the first log

[2019-06-10 19:43] Ilde314 commented on #45
D:\ionicProyects\borrar>
D:\ionicProyects\borrar>adb -s emulator-5554 shell getprop
[dalvik.vm.appimageformat]: [lz4]
[dalvik.vm.dex2oat-Xms]: [64m]
[dalvik.vm.dex2oat-Xmx]: [512m]
[dalvik.vm.dex2oat-minidebuginfo]: [true]
[dalvik.vm.dexopt.secondary]: [true]
[dalvik.vm.heapsize]: [384m]
[dalvik.vm.image-dex2oat-Xms]: [64m]
[dalvik.vm.image-dex2oat-Xmx]: [64m]
[dalvik.vm.isa.x86.features]: [defaul

[2019-06-10 19:53] dwieeb commented on #45
[code]

These are strange exit codes 😂

I guess we'll have to handle a failing exit code.

[2019-06-10 19:59] Ilde314 commented on #45
😂😂😂

[2019-06-11 13:19] NurGuz commented on #45
no man, this is not the solution. But try! :(

[2019-06-11 16:30] dwieeb commented on #45
I wish I could reproduce this issue on my Windows machine. What version of the platform tools do you have @Ilde314 @NurGuz ? Can you run `native-run android --sdk-info` and paste the output?

[2019-06-11 18:31] Ilde314 commented on #45
D:\ionicProyects\borrar>native-run android --sdk-info
SDK Location:         C:\Users\ildef\AppData\Local\Android\Sdk
AVD Home:             C:\Users\ildef\.android\avd

API Level:            29
Packages:             Android SDK Platform 29  platforms;android-29  1

API Level:            28
Packages:             Android SDK Platform 28  platforms;android-28  6
                      Google Play Intel

[2019-06-11 18:33] mtarroyo commented on #40
Hi, @dwieeb!

I don't know how those files with strange encoded names has appeared on my `Sdk/tools` directory but they were the problem. By removing those files everything starts to work just fine!! By putting the files back then the error returns!

[2019-06-11 18:39] dwieeb commented on #40
I figured it was the issue, but I thought the tool was handling any sort of file errors gracefully. It should have just ignored the error and moved on... Glad to hear it's working for you now!

[2019-06-11 18:39] #40 closed

[2019-06-11 19:06] wilk-polarny commented on #45
Same issue here, downgrading the platform tools to 28.0.2 helps, but no matter what - it seems that the new Ionic tooling also always creates a new virtual device (and not using the existing one) - with 800 MB internal storage which causes app installations to fail (exit code 1) due to insufficient storage.

[2019-06-12 01:35] mimzo-solutions commented on #45
Resolved after platform tools update to 29.0.1

[2019-06-12 07:30] Ilde314 commented on #45
Confirmed! Working after platform tools update to 29.0.1

Thank you all for your help!!!!!

[2019-06-12 15:21] tlancina commented on #44
Can you guys update to the latest version and post your output please? There have been a few fixes and there should be better output for simulator errors, thanks!

[2019-06-12 16:31] dwieeb commented on #45
I wonder if 29.0.0 had a bug in `adb`.

[2019-06-12 19:54] dotNetkow opened #47 "[Ionic Studio] Run on iPhone XS fails"
**Version:** 0.2.2

**Description:**
Running on device not working: On a Mac using Ionic Studio, with an iPhone XS connected to my laptop. Click the Run button, choose my iPhone device, then this appears in the console:

stack trace:

[native-run] TypeError: Cannot read property 'nodeName' of null
[native-run] at Object.parse (/Users/matt/.ionic/Studio/Tools/lib/node_modules/native-run/node_module

[2019-06-12 20:29] sshipsey commented on #44
After updating to latest native-run, seeing:
[code]

[2019-06-12 22:06] tuannguyendotme commented on #44
I upgraded from Node v10.16.0 to v12.4.0 and now I can run the app on iOS simulator. I also upgraded native-run from v0.2.2 to v0.2.5. Not sure which one help to fix the problem.

Here my ionic info

[2019-06-13 10:52] joanroig opened #48 "Error: NO_RESOURCES on iOS physical build"
I'm trying to run a deploy on iOS with this command, but I get a crash:

`ionic cordova run ios --device --verbose
`

[code]

Here is my ionic info:

[code]

It properly works on emulator if the device is not attached with this command:
`ionic cordova emulate ios --verbose`

[2019-06-13 19:26] tlancina commented on #48
Hey thanks for the report, I'm curious why `--verbose` isn't being passed down to `native-run`.  Can you run `native-run ios --app platforms/ios/build/device/App.ipa --device --verbose` and attach the log here? It will be pretty long, but if I remember right `NO_RESOURCES` happens when the device runs out of fds, so I want to see if we're not freeing them up correctly.

Thanks!

[2019-06-14 09:55] XamrinIndian commented on #38
BUILD SUCCESSFUL in 11s
42 actionable tasks: 42 up-to-date
Built the following apk(s):
        D:\beauty_JH\bj\platforms\android\app\build\outputs\apk\debug\app-debug.
apk

-debug.apk
Error: Command failed: C:\Users\xamrin\AppData\Local\Android\Sdk\platform-tools\
adb devices -l

    at ChildProcess.exithandler (child_process.js:294:12)
    at ChildProcess.emit (events.js:198:13)
    at maybeClose

[2019-06-14 14:57] chrum commented on #48
got the same problem :(

here is the [result](https://github.com/ionic-team/native-run/files/3291139/native-run-output.txt) of verbosed native-run

[2019-06-14 15:07] Incubbus commented on #42
Same Problem.

[2019-06-15 01:11] dwieeb commented on #42
@Incubbus Can you post the output of `native-run --list --verbose` ?

[2019-06-15 02:09] tlancina commented on #44
For those of you still getting `Unable to retrieve simulator list: Cannot read property 'filter' of undefined` on the latest version of `native-run`, can you please run the following commands and attach their output?

`xcodebuild -version`
`sudo xcode-select -p`
`xcrun simctl list devices --json`

If you can provide any details about having multiple versions of Xcode, or when you upgraded and from

[2019-06-15 19:25] Incubbus commented on #42
[code]

[2019-06-15 20:09] dwieeb commented on #42
@Incubbus I assume you took out your user directory in that output? or was this the actual path it tried? `C:\Users\\.android`?

Usually the AVD home is in your home folder at `~/.android/avd`. Does that directory exist? Have you opened Android Studio? If it doesn't, perhaps native-run should create it. This may be a premature error.

[2019-06-15 20:44] Incubbus commented on #42
@dwieeb yes, i removed my user directory name.

There is no `avd`-folder because i am not using virtual devices for testing.

[2019-06-15 20:46] dwieeb opened #49 "ERR_AVD_HOME_NOT_FOUND when listing native targets"
If the AVD home cannot be found when looking up virtual devices, don't throw an error.

ref: https://github.com/ionic-team/native-run/issues/42#issuecomment-502393110

[2019-06-15 20:47] dwieeb commented on #42
@Incubbus Thanks, I created https://github.com/ionic-team/native-run/issues/49 for that issue.

[2019-06-15 21:44] Incubbus commented on #42
@dwieeb Creating the AVD folder may resolve one exception thrown, but does make the command finish without throwing another error...

[code]

(Redacted with `...` again)

[2019-06-17 11:02] mathew-n27 commented on #44
Many thanks @tlancina, you are right Xcode was using old device format, after updating Xcode to `_Xcode 10.2.1 Build version 10E1001_` device format changed and successfully running on iOS simulator.

[2019-06-17 11:23] joanroig commented on #48
@tlancina here it is the log, I think my first log was not with the --verbose but I've tried both, if you need them I can run both again
[native-run-output.txt](https://github.com/ionic-team/native-run/files/3296724/native-run-output.txt)

[2019-06-17 16:14] tlancina commented on #44
@mathew-n27 do you know what Xcode version you were using before? We added a check to enforce Xcode 10+ assuming that is what the new formatting is tied to, but I'm wondering if there is some case where Xcode 10 or 10.1 is printing in the old format (it doesn't use the old format for me with `10.1 10B61`, but does on any version of 9).

[2019-06-17 16:29] sshipsey commented on #44
Thanks for looking into this @tlancina
I updated from Xcode 9.4.1 about 3 months ago, and from 9 -> 9.4.1 about 6 months prior to that. This is my first time attempting to use native-run though, so I'm unsure if it would have worked on the older versions.

All 3 of those versions of Xcode (9, 9.4.1, and 10.1) are still on my machine for legacy reasons.

Let me know if I should try Xcode 10.2.

[co

[2019-06-17 16:43] tlancina commented on #44
Just for posterity, here is what I am seeing:
[code]

Switch to 9.2:

[code]

Which is what led me to believe that the _installing_ version of Xcode didn't affect the output, but I'm now doubting that conclusion because clearly there is some way that `10.1 10B61` will use the runtime name and not identifier.  With that in mind, and thanks to your guys' logs confirming that the actual format of the

[2019-06-17 16:43] #44 closed

[2019-06-17 16:44] tlancina commented on #47
Fixed in 0.2.6.

[2019-06-17 16:44] #47 closed

[2019-06-17 16:44] tlancina commented on #48
@joanroig @chrum thank you both, can you please update to 0.2.6 and confirm this fixes the issue, thanks!

[2019-06-17 17:07] sshipsey commented on #44
@tlancina 0.2.6 fixed my problem, thanks again!

[2019-06-17 17:40] dwieeb commented on #45
Closing for now, it seems like this was happening due to a bug in adb.

[2019-06-17 17:40] #45 closed

[2019-06-17 17:41] dwieeb commented on #5
Probably not a good idea to kill the adb server because any connections would have to be setup again manually.

[2019-06-17 17:45] dwieeb commented on #32
@koraysels Looks like I missed your reply. Would you mind creating an issue in ionic-cli if you think there's a bug? This now has little to do with native-run.

[2019-06-17 19:44] #49 closed

[2019-06-17 22:01] funkjedi commented on #48
i had the same problem. upgrading to 0.2.6 fixed it for me.

[2019-06-17 22:25] tlancina commented on #48
@funkjedi thanks for reporting back, I'm going to close this as fixed.  If anyone is still having issues please feel free to comment or open a new issue.

[2019-06-17 22:25] #48 closed

[2019-06-18 08:26] mathew-n27 commented on #44
Xcode version before update was `10.1`

[2019-06-19 15:30] rodrigograca31 opened #50 "Support cordova-android < 7"
**Version:**

0.2.6

**Description:**

If a project is using for example cordova-android 6.4.0 the .apk location is different and it fails to find the .apk....

**Command Output:**

[code]

after using cordova-android 8:
[code]
works flawlessly:

[code]

**SDK Info:**

~~too much unnecessary info~~

[2019-06-20 07:33] gravyplaya opened #51 "Error: PasswordProtected"
**Version:**

0.2.6

**Description:**

Ionic app wont run on device or emulator

**Command Output:**
unzipping....
  native-run:ios:utils:app Unzip: Payload/iPrescribe.app/AppIcon76x76~ipad.png +1ms
  client:usbmuxd connectUsbmuxdSocket +0ms
  client:usbmuxd getDevices +2ms
  protocol:usbmux socket write: {"messageType":"ListDevices"} +0ms
  protocol:usbmux Response: {"DeviceList":[{"DeviceID":2,"

[2019-06-20 07:33] gravyplaya commented on #51
same error on ios and android

[2019-06-21 14:32] dwieeb opened #52 "Emulator errors sometimes hidden"
[code]

The storage error required `--verbose` to be revealed.

[2019-06-22 15:14] brune83 opened #53 "ERR_SDK_PACKAGE_NOT_FOUND executing ionic cordova run android"
**Version:**

0.2.6

**Description:**

Running the command `ionic cordova run android` I get the error `ERR_SDK_PACKAGE_NOT_FOUND`

**Command Output:**

2019-06-22T15:11:54.995Z native-run:android:utils:sdk:getSDKPackage Encountered error with C:\Program Files (x86)\Android\android-sdk\platform-tools\package.xml: { [Error: ENOENT: no such file or directory, open 'C:\Program Files (x86)\Android\and

[2019-06-23 04:57] theHellyar commented on #41
@Borongaj - Worked for me! thanks!

[2019-06-23 11:38] coloz opened #54 "No hardware devices found"
**Version:**
0.2.6

**Description:**
The device could not be found，but using **ionic cordova run android** is all right.

**Command Output:**
[code]

**SDK Info:**
[code]

[2019-06-24 14:17] dwieeb commented on #54
@coloz What is the output of `adb devices -l` ?

[2019-06-24 14:21] dwieeb commented on #53
@brune83 Do you have the Android Platform Tools installed?

[2019-06-24 14:24] brune83 commented on #53
Yes, I have.
I updated it to 29.0.1, but in the folder there is no 'package.xml' file.

[2019-06-24 14:31] dwieeb commented on #53
What are the contents of the directory? It may not have installed successfully. Are you able to run your app in Android Studio?

[2019-06-24 14:41] brune83 commented on #53
I didn't try to run my app in Android Studio, but I downloaded also the Android Platform Tools from here:

[https://developer.android.com/studio/releases/platform-tools](https://developer.android.com/studio/releases/platform-tools)

and I can see that the contents of my directory are right: it seems that in Android Platform Tools version 29.0.1 the file 'package.xml' does not exist...

[2019-06-24 16:07] dwieeb commented on #53
Ahh, okay. The `package.xml` is a file for the package in the Android Repository. Without it, native-run isn't able to know what it is.

Is there a reason you downloaded platform-tools directly instead of using the SDK Manager inside of Android Studio?

[2019-06-24 16:23] brune83 commented on #53
I downloaded it with Android SDK Manager as usual actually...
Then I tried to download it directly from Google website to check if the contents of my platform-tools were right, and it seems they are.
So, am I the only without the package.xml inside the directory or it's a problem with the new Android Platform Tools version?

[2019-06-24 17:26] pranaydutta89 commented on #42
+1 same issue

[2019-06-24 17:53] dwieeb commented on #53
I have Android Platform Tools 29.0.1 and it includes a `package.xml`. I also tried uninstalling and reinstalling it.

[2019-06-24 22:07] tlancina commented on #41
@Borongaj @theHellyar would you guys be able to post `ionic info` if you get a chance? Trying to reproduce what could cause this to happen (since clearly from https://github.com/ionic-team/native-run/issues/41#issuecomment-499962773 `CONFIGURATION_BUILD_DIR` is `myapp/platforms/ios/build/emulator`). Not sure if it's related to Xcode, Cordova or something else at this point, since I'm unable to rep

[2019-06-24 22:09] theHellyar commented on #41
@tlancina

Ionic:

   Ionic CLI          : 5.1.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.5
   @ionic/app-scripts : 3.2.2

Cordova:

   Cordova CLI       : 8.0.0
   Cordova Platforms : android 7.0.0, ios 4.5.5
   Cordova Plugins   : cordova-plugin-ionic-keyboard 2.1.3, cordova-plugin-ionic-webview 4.1.0, (and 4 other plugins)

Utility:

   cordova-res : not ins

[2019-06-24 23:50] tlancina commented on #41
@theHellyar thank you! I'm going to close this as it looks like it's from the lack of Xcode 10 support in cordova-ios 4 (this particular error happening because the cordova build stops abruptly and native-run tries to run the `.app` which should have been produced).

For anyone running in to this error in the future using cordova-ios 4 and Xcode 10+, you can either use the `useModernBuildSystem=0`

[2019-06-24 23:50] #41 closed

[2019-06-25 00:30] tlancina commented on #51
This seems to be an iOS device specific error, so if you are getting errors when running on the iOS simulator please add them.

I'm not sure when `PasswordProtected` happens, but I would assume it's because your iOS device has a password set somehow? I would love to know more if you know why it might be throwing that error.

I'm going to close this for now, please feel free to add more information

[2019-06-25 00:30] #51 closed

[2019-06-25 01:16] coloz commented on #54
List of devices attached
573154575a563398       device product:starqltezc model:SM_G9600 device:starqltechn transport_id:1

[2019-06-25 01:26] coloz commented on #54
i use vscode cordova tools.
I found that when I chose **Run Android on emulator**, it would install APK on my real mobile phone and prompt me that the emulator could not be found.

[2019-06-25 15:30] brune83 commented on #53
I also tried uninstalling and reinstalling, but I had no luck...
I am on Windows, I don't know if this information can be useful.

[2019-06-25 18:16] dwieeb commented on #53
On my Windows machine, the `platform-tools` directory has `package.xml`. It's really odd that yours doesn't! I am using Android Studio 3.4 to install/reinstall packages.

[2019-06-25 21:23] dwieeb commented on #36
@Monarch73 Agreed. Our "first pass" of extracting devices from adb simply parses the output of `adb devices -l`. Then a second pass is performed which uses `adb shell getprop` to gather more details. Right now we only do hardware/emulator detection in that first pass, and I am trying to make it as accurate as possible. I just pushed a commit make it better: https://github.com/ionic-team/native-run

[2019-06-25 21:25] dwieeb commented on #54
@coloz Thanks. From the information given with `adb devices -l`, I can confidently say this is a duplicate of https://github.com/ionic-team/native-run/issues/42. I am making a release right now to address this issue.

[2019-06-25 21:25] #54 closed

[2019-06-25 21:28] Ionitron commented on #49
:tada: This issue has been resolved in version 0.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v0.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-25 21:30] dwieeb commented on #42
Hey all, I just released native-run 0.2.7 which addresses @osben's original issue! 🎉

Update: `npm i -g native-run@latest`

If there are more issues with device recognition on Android after 0.2.7, please create new issues. Thanks 😄

[2019-06-25 21:30] #42 closed

[2019-06-25 21:33] dwieeb commented on #35
@colinl-intelliacc native-run 0.2.7 was just released to fix up this issue. I am marking this as fixed! Let me know if you have any more issues and thanks for your patience!

[2019-06-25 21:35] dwieeb commented on #39
@mightytyphoon Would you mind pasting the output of `native-run android --sdk-info`?

[2019-06-25 21:37] dwieeb commented on #52
Duplicate of https://github.com/ionic-team/native-run/issues/34

[2019-06-25 21:37] #52 closed

[2019-06-26 01:27] markterrill commented on #27
This issue is occuring on 0.2.6. The last issue reported via --verbose is protocol:lockdown socket write: {"Command":"LookupImage","ImageType":"Developer"} +5ms

What resolved it for me:

- Settings > General > Reset > Reset privacy & location  (this is what resets computer trust, not network settings above)
- Unplug phone, replug. It should ask you if you trust the computer.  Interestingly that w

[2019-06-26 09:06] brune83 commented on #53
A friend sent me the package.xml file, I copied that into the platform-tools folder and everything worked.
I still don't know why I don't have this file, but for sure this is not a problem related to native-run project.
So, I think you can close this issue.
Thanks for your support.

[2019-06-26 17:30] dwieeb commented on #53
@brune83 Alright. Glad to hear it's working for you. Very strange. Let me know if that happens again. `native-run` should be resilient to Android package changes. Thanks!

[2019-06-26 17:30] #53 closed

[2019-06-27 06:06] colinl-intelliacc commented on #35
Thanks! After testing I can confirm that the Android device is getting listed when `native-run android --list` is called. Unfortunately when calling `native-run --list` without a platform being specified  on a Windows machine, the iOS device retrieval still throws and unhandled error, which results in present Android devices not being listed.

Printing a message that iOS devices are not retrievabl

[2019-06-27 20:19] Borongaj opened #57 "Freeze on splashscreen with loading icon on iOS"
**Version:**

native-run  : 0.2.7

**Description:**
From CLI, `ionic cordova run ios -l --consolelogs`:

Starts the app on device, but freeze on splashscreen with loading icon.

From Xcode, running the app on device : **Works perfectly**.

**Command Output:**

[native-run] 2019-06-27T20:06:33.583Z protocol:usbmux Response: {"MessageType":"Result","Number":0}
[native-run] 2019-06-27T20:06:33.583Z c

[2019-06-28 10:46] videmort opened #58 "ERR_UNKNOWN: There was an error launching app: Efailed to get the task for process"
Running -->
ionic cordova run ios --verbose --livereload

Got --> ERR_UNKNOWN: There was an error launching app: Efailed to get the task for process 33611

**Environment Info:**

Ionic:

   Ionic CLI                     : 5.2.0
   Ionic Framework               : @ionic/angular 4.6.0
   @angular-devkit/build-angular : 0.800.6
   @angular-devkit/schematics    : 8.0.6
   @angular/cli

[2019-06-29 10:59] RafaelKr opened #59 "Don't exit process when app is closed"
When I'm running my app in livereload mode I sometimes want to do a full restart of the app. Unfortunately native-run and the Angular Livereload server process are exited when I close the app and I have to rerun the livereload command.

[2019-06-30 23:17] joshstrange opened #60 "Error: InvalidService"
**Version:**
native-run --version
0.2.7

**Description:**

When the `ionic cordova build ios --device` command get to the native-run section it hangs for  10-60 seconds (or more, I haven't timed it very many times) then crashes with the following command output. This happens for livereload builds as well

**Command Output:**

[code]

**Environment Info:**
[code]
macOS version: 10.14.4 (18E226)

Xc

[2019-07-03 05:22] nationdata-it commented on #28
thanks @luciojb you saved my day

[2019-07-04 14:47] IManAsap opened #63 "ERR_AVD_HOME_NOT_FOUND: No valid Android AVD home found."
**Version:**

0.2.7

**Description:**

A AVD error appears while I am deploying on a device

**Command Output:**
2019-07-04T14:43:47.247Z ionic:lib Terminal info: { ci: false, shell: '/bin/bash', tty: false, windows: false }
2019-07-04T14:43:47.250Z ionic:lib CLI global options: { _: [ 'cordova', 'run', 'android' ], help: null, h: null, verbose: true, quiet: null, interactive: false, color: true,

[2019-07-05 16:06] MichaelApproved commented on #53
I had the same issue and resolved it by running the following command: `sdkmanager --list`

sdkmanager.bat is a batch file that was in `C:\Program Files (x86)\Android\android-sdk\tools\bin\` but it might be in another location on your computer. Go to that folder within the command prompt and run the `sdkmanager --list` command.

After I ran that command, the package.xml file appeared in the direct

[2019-07-08 14:50] dwieeb opened #64 "Create AVD home if not found"
We create the AVDs themselves, so just create an AVD home if it's not found.

[2019-07-08 14:51] dwieeb commented on #63
@IManAsap Can you run the following and then try again?

[code]

[2019-07-09 09:23] gildebrand opened #65 "RangeError [ERR_OUT_OF_RANGE]"
**Version:**
`native-run: 0.2.7`
`node: 10.16.0`

**Description:**
Native-run fails when running both through `ionic run ios` and when running `native-run` directly. I've tried running `ionic run ios` both with and without the `--l` flag with same result. Tried running `native-run ios --app "platforms/ios/build/device/App Admin.ipa" --device --connect --forward 8100:8100` with same result.

**Comm

[2019-07-09 09:33] IManAsap commented on #63
this resolves the problem

thanks

[2019-07-09 09:33] #63 closed

[2019-07-09 20:09] dwieeb commented on #65
@gildebrand Can you run `native-run ios --app "platforms/ios/build/device/App Admin.ipa" --device --connect --forward 8100:8100 --verbose` and post the output? (notice the `--verbose` flag.) If it's too large, the last few dozen lines will probably be enough. Thanks!

[2019-07-10 07:53] HashNotAdam commented on #60
I was able to solve this by running the app via Xcode. When I did this, I was asked to authenticate before the simulator could run and, from then on, I was able to build using the CLI

[2019-07-10 11:43] IManAsap opened #66 "ERR_CONNECTION_REFUSED"
**Version:**

0.2.7

**Description:**

I run the  ionic cordova run android -l --no-native-run command and the application starts on my device, but the device displays this:

Application Error
net::ERR_CONNECTION_REFUSED
(http://localhost:8080/)
[ OK ]

**Command Output:**

Windows PowerShell
Copyright (C) Microsoft Corporation. Tous droits réservés.

PS C:\Users\christophe\Documents\Mes projets\h

[2019-07-11 09:23] pablomaurer opened #67 "Error: There was an error installing app (at protocolClient.sendMessage )"
**Version:** 0.2.7

**Description:**

ionic cordova run ios failed (with real device connected)

**Command Output:**

[code]

**Environment Info:**

[code]

**macOS version:**  10.14.5

[2019-07-11 10:51] pablomaurer opened #68 "ionic cordova run ios: ERR_UNKNOWN: There was an error launching app: ESecurity"
**Version:** 0.2.7

**Description:**

running `ionic cordova run ios` gives the error below

**Command Output:**

[code]

**Environment Info:**

[code]

[2019-07-11 16:11] dwieeb opened #70 "Better error messages for iOS"
Many of the iOS errors are often obscure, either failing outright with a stack trace or reporting an error that is too general, which is a stopper for devs.

Here is a non-comprehensive list of errors that could use some better messaging:

- [ ] no provisioning profile found: https://github.com/ionic-team/native-run/issues/67
- [ ] untrusted certificate or developer: https://github.com/ionic-team/

[2019-07-13 09:25] DanielTizon commented on #65
I'm getting the same error. My output:

[code]

[2019-07-23 08:00] Kirubha03 commented on #53
Actually I Had same issue after installing latest Ionic version 5.2.3.In this I can able to build apk. But when use  `ionic cordova run android`  it throws error `ERR_SDK_PACKAGE_NOT_FOUND`  Error. So I tried
1. I did install/reinstalled android SDK
2. Updated platform_tools
3. used sdkmanager.bat  for list.

So above all methods not working. Still I'm having same issue.  I think this issue still

[2019-07-24 09:23] Shehryar169 commented on #38
Same Issue. Please help

[2019-07-24 16:46] dwieeb commented on #38
@XamrinIndian @Shehryar169 Can one of you fill out a new issue? That's unrelated to the original issue.

[2019-07-26 09:33] untilbit commented on #34
I get this issue a lot

[2019-07-27 11:22] thevirajshelke commented on #63
I was facing the same issue and this solved it! :) Thanks buddy :+1:

[2019-07-30 19:14] dwieeb opened #71 "UniqueDeviceID sometimes not retrieved from GetValue request"

[2019-08-01 09:20] asterism612 opened #114 "DeviceLocked error in ionic5"
[native-run] Error: DeviceLocked
[native-run]     at LockdownProtocolReader.parseBody (/usr/local/lib/node_modules/native-run/node_modules/node-ioslib/dist/protocol/lockdown.js:35:19)
[native-run]     at LockdownProtocolReader.onData (/usr/local/lib/node_modules/native-run/node_modules/node-ioslib/dist/protocol/protocol.js:52:40)
[native-run]     at Socket.emit (events.js:189:13)
[native-run]

[2019-08-02 03:00] ozshunga opened #72 "[ERROR] native-run was not found on your PATH. Please install it globally:"
I tried to run  sudo npm i -g native-run
but same error.

[2019-08-02 03:44] ozshunga commented on #72
Ionic:

   Ionic CLI                     : 5.2.2 (/usr/local/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.7.1
   @angular-devkit/build-angular : 0.801.3
   @angular-devkit/schematics    : 8.1.3
   @angular/cli                  : 8.1.3
   @ionic/angular-toolkit        : 2.0.0

Cordova:

   Cordova CLI       : 9.0.0 (cordova-lib@9.0.1)
   Cordova Platforms : android 8.

[2019-08-04 19:50] AlameerAshraf commented on #34
Any updates regarding this issue.

[2019-08-05 06:10] CubKAI commented on #34
You can try trun off hyper-v

[2019-08-05 13:16] leo4444 commented on #72
Hi there! I have the same problem in MAC. I installed native-run globally but I miss a path error. I already tried deleting and reinstalling several times, clearing the npm cache and also deleting and adding the platform again but without result.

A minor detail is that after installing the package globally, it does not recognize the command in native-run console. It may be due to a problem in pac

[2019-08-06 10:14] AlameerAshraf commented on #34
I found out the problem was from my device as the device has not enough space to install the new app, so I'm recommending using Android studio profiler and debugger to get the real error message.

[2019-08-06 23:33] dwieeb commented on #72
If you run `npm i -g native-run` and then `native-run` is not a recognized command, something is likely wrong with your NodeJS installation or npm setup.

@leo4444 @ozshunga For you both, it looks like global packages are installed in `/usr/local/lib/node_modules`, so look for `native-run` there, and also look for the binary in `/usr/local/bin`. If they're both there, check to see if `/usr/local/b

[2019-08-08 05:07] diamsyah02 commented on #34
I solved this problem, restarted your phone and then activated the usb debugging the phone, it works for me

[2019-08-08 16:29] dwieeb commented on #34
As a reminder, that's what this issue is for: to uncover the reasons behind the vague error message. As always, dissecting the output with the `--verbose` flag can reveal more information.

[2019-08-14 09:04] Monarch73 commented on #36
V0.2.8 does not seem to have the problem anymore. I think this issue can be closed. My tablet is now beeing reconized as hardware.

But I like to let you know that the other day I was fighting with native-run because the "shell getProp" call kept failing even though the stdout seemed to be fine. It turned out it was a problem with a specific adb-version:
**Android Debug Bridge version 1.0.41
Versi

[2019-08-14 10:31] ozergul opened #74 "Emulator won't start"
**Version:**

0.2.8

**Description:**

Hello
native-run doesn't see the emulator or dont create a new one. As I see DeviceList is empty. What's the problem? I am trying to solve for 2 days.

**Command Output:**

[code]

**Environment Info:**

[code]

macOS version: 10.14.2

Xcode version: 10.0 (10A255)

[2019-08-14 17:48] dwieeb commented on #36
Yeah, the hardware/virtual detection got better in recent versions. Glad to hear it's working for you!

As for the adb issue, it wouldn't be the first time adb has had a bug. From the sound of it, nothing needs to change in `native-run`. I wouldn't want to ignore the exit code of adb and risk hiding actual errors.

No worries about the PRs. Detailed feedback like this is just as helpful. 💙

[2019-08-14 17:48] #36 closed

[2019-08-20 12:17] leo4444 commented on #72
@dwieeb Thanks for responding and sorry for the delay, I was not in front of the PC these days ... I searched the directories mentioned but it is not native-run. It's strange because the rest of the packages are installed (ios-deploy, ios-sim, ionic, cordova, cordova-res, etc.)
Do you have an idea what may be happening?

[2019-08-20 17:15] dwieeb commented on #72
@leo4444 I can't really say without being in front of your computer. Like I said, something is likely wrong with your NodeJS installation or npm setup. It isn't a bug in `native-run`, but a configuration issue with NodeJS or npm on your machine.

Please feel free to take advantage of the helpful [Ionic community](https://ionicframework.com/support), but let's reserve Github for bugs and feature re

[2019-08-20 17:15] #72 closed

[2019-08-21 11:36] MehtaAr25 commented on #74
Facing the same issue.... any resolutions?

[2019-08-21 14:46] mmccorkleaccesso opened #75 "native-run not working from ionic cordova run ios --device"
**Version:**

0.2.8

**Description:**

Cannot install to device using ionic cordova run ios --device. Standard command from native-run works fine.
This works.
`native-run ios --app platforms/ios/build/device/myapp.ipa`

This does not work.
`ionic cordova run ios --device`

**Command Output:**

native-run ios --app platforms/ios/build/device/
		myapp
	.ipa --device
[native-run] ERR_UNKNOWN: Path 'p

[2019-08-21 14:47] #75 closed

[2019-08-21 14:50] MarkAMcCorkle opened #76 "Cannot install to device using ionic cordova run ios --device"
Version:

0.2.8

Description:

Cannot install to device using `ionic cordova run ios --device`. Standard command from native-run works fine. Appears to be a pathing issue.

This works.
`native-run ios --app platforms/ios/build/device/myapp.ipa`

This does not work.
`ionic cordova run ios --device`

Command Output:

native-run ios --app platforms/ios/build/device/
myapp
.ipa --device
[native-run] E

[2019-08-21 15:37] symeonmattes commented on #65
I have the same error. Any solutions?

[2019-08-21 17:12] sscots commented on #74
+1

[2019-08-21 19:02] ademirfn commented on #74
+2

[2019-08-23 12:19] CaptainSecond commented on #63
Daşşağına kurban krallllllllllllllllllllllllllllllllll sorunu direk çözer ionic

[2019-08-29 16:38] rolinger commented on #41
@Borongaj @theHellyar

Hey all, I upgraded from cli v1.7.14 to 5.2.6 for use with my Ionic-v1 app.  Everything deploys just fine on Android....but lots of problems on iOS

One of which is when I build the app it exits with no errors or issues, but it fails to build the `platforms/ios/build` directory, which in turn causes the `ionic cordova run ios --device` to fail.  Looking closer and other othe

[2019-08-29 21:26] rolinger commented on #41
Well, nix that...issue was related to Cordova-plugin-firebasex v6.0.7, I downgraded it v6.0.6 and things are now working.  Was driving me nuts though.

[2019-08-31 08:05] kanchana123 commented on #65
Hey, I had a similar error. For me it was because the app name in config.xml had problems. I fixed the name and then saved cordova plugins. Removed platform iOS and added it back. Then app built successfully. Hope this helps.

[2019-08-31 17:39] mhsany commented on #63
Works like a charm! thanks

[2019-09-02 20:06] pipoa commented on #65
Never Ever success with native-run
[code]
Instead, cordova, --no-native-run is running very well
native-run --version 0.2.8

[2019-09-03 19:53] OlatunjiGab commented on #22
* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

* Get more help at https://help.gradle.org

BUILD FAILED in 1m 6s
Picked up _JAVA_OPTIONS: -Xmx512M

[native-run] Selected hardware device 039143394L047851
[native-run] Error: ENOENT: no such file or directory, open 'C:\Users\Gabriel\Documents\GabFile\MyProject\Bookstore1\platform

[2019-09-03 19:55] OlatunjiGab commented on #22
Any Help On this? This Project failed to build

[2019-09-04 01:06] dwieeb commented on #22
@OlatunjiGab That is unrelated and looks like an Ionic CLI issue. Please create an issue here: https://github.com/ionic-team/ionic-cli

[2019-09-05 05:53] WaldiirNeto commented on #74
+3

[2019-09-05 10:32] roostaeian commented on #74
+4

[2019-09-09 06:40] pungggi commented on #68
Yes @pablomaurer that was exactly it! ;)

[2019-09-10 15:27] mmestica commented on #74
+5

[2019-09-12 02:49] pipoa opened #78 "App name with UTF8 encoding in config.xml hangs forever"
**Version:**

0.2.8

**Description:**

App display name with UTF8 encoding(not ascii) in config.xml  hangs forever

[ config.xml ]
[code]
**Command Output:**

forever hangs, no error messages...
Instead, running WITHOUT native-run is ok

**Environment Info:**

Ionic:

   Ionic CLI                     : 5.2.8 (/usr/local/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.9.

[2019-09-16 18:31] JuanNorsync commented on #72
Same problem here (macOS)

[2019-09-22 07:38] shifu-cyber commented on #78
RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 79. Received 80
[native-run]     at boundsError (internal/buffer.js:49:9)
[native-run]     at writeU_Int8 (internal/buffer.js:558:5)
[native-run]     at Buffer.writeUInt8 (internal/buffer.js:565:10)
[native-run]     at toCString (/usr/local/lib/node_modules/native-run/node_modules/node-ioslib/dist/client/a

[2019-10-01 05:59] hijoncon opened #79 "Running live reload iOS not working"
0.2.8

Running live reload in iOS not working. It will open the simulator and it will show the splash screen and it exited. Any help?

[native-run] ERR_UNKNOWN: There was an error launching app on simulator: An error was encountered processing the command (domain=FBSOpenApplicationServiceErrorDomain, code=1):
[native-run] The request to open "com.y****o.k******n" failed.
[native-run] The request w

[2019-10-01 18:01] gregoiremotot commented on #68
Solution from Xcode

Internal launch error: process launch failed: Security

[2019-10-02 14:20] geoFlux commented on #79
I have the same problem. It started yesterday. I reinstalled Xcode, and that fixed it for a little while. But today it started happening again. I have worked around the issue for now by adding the --no-native-run flag to the ionic command. But I also had to update cordova-ios to the latest nightly release.

[2019-10-02 17:00] dwieeb opened #80 "protocol:lockdown socket write: {"Command":"LookupImage","ImageType":"Developer"}"
native-run is hanging indefinitely for iOS. See the following:

- https://github.com/ionic-team/ionic-cli/issues/4165#issuecomment-537567538
- https://stackoverflow.com/questions/58192497/how-to-push-an-ionic-build-to-an-ios-device-without-opening-xcode

[2019-10-03 19:36] tlancina commented on #74
Anyone running in to this issue, could you please post the output of `xcrun simctl list --json`? Thanks!

[2019-10-03 22:05] brownoxford commented on #80
Adding log file as requested in https://github.com/ionic-team/ionic-cli/issues/4165#issuecomment-538070518

[log.txt](https://github.com/ionic-team/native-run/files/3688242/log.txt)

[2019-10-04 12:57] michelepatrassi commented on #80
It could be useful that I had this problem with iPhone 7 and iOS 13 but not with the iPhone7 with iOS 12

[2019-10-04 13:45] brownoxford commented on #80
Same here, and from everyone that I've seen report this issue.

[2019-10-07 21:50] #58 closed

[2019-10-09 21:04] bnallmaster commented on #80
I am getting this with --no-native-run.

Error 0xe800007f: Device doesn't support wireless sync. AMDeviceStartService(device, CFSTR("com.apple.debugserver"), &gdbfd, NULL)
ios-deploy: Command failed with exit code 253

I am getting this with the regular command I had been using to livereload for iOS. Havent been able to since iOS 13.

[native-run] ERR_UNKNOWN: Unable to retrieve simulator list
[ER

[2019-10-12 05:53] tlancina commented on #80
Hey all, sorry for the delay, this ended up being a little tricky to fix.  If anyone who has this issue could test out `npm install -g native-run@testing` and let me know if you have any problems that would be great, thanks!

[2019-10-12 07:14] bnallmaster commented on #80
I will give it a try.

On Sat, Oct 12, 2019 at 12:53 AM Tim Lancina <notifications@github.com>
wrote:

[2019-10-12 13:39] brownoxford commented on #80
I've installed `native-run@0.2.9-testing.2` and I definitely get past the original problem area, but end up here:

[code]

The app launch screen shows up but then hangs. I can confirm that this build works when I drag it onto the device via XCode.

This is an adhoc build.

Let me know what further information you need and I'll get it to you as soon as I can.

[2019-10-12 13:41] bnallmaster commented on #80
Here is my result after updating with npm install -g native-run@testing on iOS 13, macOS catalina, and newest Xcode.
I ran this call which used to work for live reloading and console logging. Right now the only way to build is to run ionic cordova run build and then open in xcode and run it every time.

`ionic cordova run ios -l --address=0.0.0.0 --consolelogs —verbose`

[native-run] 2019-10-12T13

[2019-10-12 13:44] brownoxford commented on #80
Sorry, my command was:

`native-run ios --app platforms/ios/build/device/my.app.ipa`

[2019-10-12 13:48] bnallmaster commented on #80
If I run this like above:

native-run ios --app "platforms/ios/build/device/OFTA Eat.ipa"

I get the splash screen popping up but it hangs. Also, this command really doesn't work for normal ionic workflow as you would need to rebuild it first to see the changes when running this command.

[2019-10-12 13:54] brownoxford commented on #80
@bnallmaster can you run with --verbose to see if it hangs with the same error that I got? I agree with you regarding the full ionic workflow, but I think what we are testing here is just the native-run component of that worflow.

[2019-10-12 13:54] bnallmaster commented on #80
Yes I will do that now, and totally understand. Happy to help get this figured out!

[2019-10-12 14:01] bnallmaster commented on #80
So I ran `ionic cordova build ios` first to get a clean build.

Then I ran ``

It launched the app on my iPhone and got past the splash screen!

This is the end of the output from that command.

`  protocol:afc socket write, bytes written 40 (header), 8 (body) +0ms
  protocol:afc parse header: {"magic":"CFA6LPAA","totalLength":48,"headerLength":48,"requestId":4409,"operation":1} +0ms
  protocol:af

[2019-10-12 14:07] brownoxford commented on #80
Hmm. I tried again with a production build signed for release and ran into this:

[code]

This could totally be a signing issue on my end, investigating.

[2019-10-12 14:08] bnallmaster commented on #80
But if I run `ionic cordova run ios`

It builds and archives successfully  but then I get an error and it doesn't launch:

`** ARCHIVE SUCCEEDED **

Running command: xcodebuild -exportArchive -archivePath OFTA Eat.xcarchive -exportOptionsPlist /Users/taylorkorensky/oftaeatv2/platforms/ios/exportOptions.plist -exportPath /Users/taylorkorensky/oftaeatv2/platforms/ios/build/device
2019-10-12 09:04:37

[2019-10-12 15:22] brownoxford commented on #80
I'm seeing four different results depending on how I build my app. I use fastlane with match and the fastlane ionic plugin.

| prod | release | type | result|
--------|---------|-------|----|
|false | false | development | pass |
|true | false | development | pass |
|true | true | adhoc | fail 1 |
|true | true | appstore | fail 2 |

**fail 1**
This type fails after hanging on the app launch screen

[2019-10-13 08:05] tlancina commented on #80
@brownoxford as far as I know, you can only debug apps that are signed for Development... so that behavior seems to be correct.

It looks like the original issue isn't happening anymore, so I'll cut a release on Monday with the changes, but if you are still having problems please feel free to open up a new issue with repro steps.

Thanks so much for testing!

[2019-10-14 21:40] brownoxford commented on #80
@tlancina Ok, I didn't realize that but it makes sense. Thanks for the fix!

[2019-10-15 17:40] Xawery94 commented on #80
@tlancina Any plans to release this?

[2019-10-15 21:13] #80 closed

[2019-10-15 21:18] tlancina commented on #80
@Xawery94 sorry for the delay, got caught up with some other stuff yesterday.  Should be out in 0.2.9 now.

[2019-10-16 15:57] Incubbus opened #81 "native-run stuck"
**Version:**
0.2.8

**Description:**

After running `ionic cordova run ios -l --address=0.0.0.0`
when the process reaches native-run, nothing happens.

Even after 15 minutes, nothing happens on the command line or on the phone.

**Command Output:**

When running the command with the verbose flag it gets to

`[native-run] 2019-10-16T15:54:26.375Z protocol:usbmux Response: {"PairRecordData":{"type":

[2019-10-16 17:47] dwieeb commented on #81
This was likely just fixed in 0.2.9. https://github.com/ionic-team/native-run/blob/master/CHANGELOG.md#029-2019-10-15

[2019-10-17 06:49] gravyplaya commented on #67
I get this error right now. Is there a way to fix it?

[2019-10-17 09:43] Incubbus commented on #81
It was. Thanks for pointing me there.

[2019-10-17 09:43] #81 closed

[2019-10-17 23:24] joshstrange opened #82 "What is node-ioslib?"
What is this library: `node-ioslib`? There is [no github linked on npmjs.com](https://www.npmjs.com/package/node-ioslib) and the [npm author/publisher](https://www.npmjs.com/~tlancina) appears to be an [ionic employee](https://github.com/tlancina) yet [the repo is not public on their account](https://github.com/tlancina?tab=repositories). Even more confusing there is also an [ioslib on npm](https:

[2019-10-18 12:13] Incubbus opened #83 "Stuck at running on device when installed before"
**Version:**

0.2.9

**Description:**

While running `native-run ios --verbose --app platforms/ios/build/device/Name.ipa --device`
native-run seems to get stuck and nothing happens.

The iPhone is unlocked. And the app has been installed via `ionic cordova run ios --device` the day before.

After removing the app, the command works again.

**Command Output:**

[code]

**Environment Info:**

[code]

[2019-10-19 00:01] sohag1990 commented on #24
I had the same problem in my ubuntu 18.04
solved by the following steps:
vim ~/.profile
insert below lines to the end of the file

`
export ANDROID_HOME=$HOME/Android/Sdk
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/platform-tools
`
Now save the file and run another command:
`source ~/.profile`

Problem solved

[2019-10-19 07:40] tamilm47 commented on #37
The same issue i got..
But when i run `avdmanager list avd` its shows like **empty**
`Available Android Virtual Devices:`

`avdmanager list target` it shows,
[code]

Suggest me whats going wrong !!!

[2019-10-22 13:02] Incubbus commented on #83
Additional Info: the iPhone needs to be restarted and then the app can be installed.

Otherwise it will not work.

[2019-10-22 13:02] Incubbus commented on #83
[code]

[2019-10-22 16:03] tlancina commented on #82
Hey it's a very valid question!

`node-ioslib` is essentially a NodeJS port of a lot of the functionality of [libimobiledevice](https://github.com/libimobiledevice/libimobiledevice).

One of the primary motivations for us to build `native-run` was because of the high support load from Cordova and [ios-deploy](https://github.com/ios-control/ios-deploy) related issues, often times from the native co

[2019-10-22 16:03] #82 closed

[2019-10-22 16:09] tlancina commented on #83
@Incubbus it seems like there are 2 different problems here: the being stuck, and the install error with the _horrifically_ unhelpful message.

I have encountered the being stuck on install quite a few times when testing iOS 13, and I am not sure what causes it.  If you wait long enough it seems to always eventually install (but sometimes takes minutes). Killing the current install and trying agai

[2019-10-24 14:24] Incubbus commented on #83
As soon as i encounter the issue again, i'll be able to recall the steps again, i think.
But it could take a while, since i'm working on an Android version at the moment.

[2019-10-25 14:23] sinan92 opened #84 "Native-run still stuck at protocol:usbmux"
**Version:**

0.29

**Description:**

In this version the problem of getting stuck at usbmux should be resolved but it isn't for me.

**Command Output:**

[code]

**Environment Info:**

[code]

macOS version:
10.14.6 Mojave

Xcode version:
Xcode 11

[2019-10-26 05:13] mightytyphoon commented on #37
Sorry for the late reply.

I think you need to create a device first with avd : https://developer.android.com/studio/run/managing-avds

If your list is empty in the manager it's certainly the problem.

[2019-10-28 08:48] sinan92 commented on #84
The problem was that native-run was installed locally as well. While the global native-run was updated, the local native-run was still an old version.

[2019-10-28 08:48] #84 closed

[2019-10-28 23:54] Askmewho opened #85 "Info request"
What does this project?what is able to do?

[2019-10-29 16:20] Askmewho commented on #85
Thanks

[2019-10-30 09:17] sinan92 opened #86 "iOS 13.2 gives Error: ImageMountFailed"
**Version:**

0.2.9

**Description:**

When I run the command:

    ionic cordova run ios --livereload --address=0.0.0.0 --external --verbose --consolelogs

I get the error message: Error: ImageMountFailed

**Command Output:**

9,25,214,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25,234]}}
[native-run] Error: ImageMountFailed
[native-run]     at LockdownProtocolReader.parseBody (/

[2019-10-30 12:06] sinan92 commented on #86
While iOS 13.2 is released, they didn't release the newest version of XCode yet. I am installing it right now to see if that fixes the problem and I suspect it will. I will keep you updated.

[2019-11-01 09:37] skol-pro commented on #83
I encountered the exact same problem, until I tried to open the app while being stuck on `native-run`, and TADA !

[2019-11-01 18:41] hijoncon commented on #79
@dwieeb is there a solid solution for this issue?

[2019-11-01 18:54] bhushankumarl commented on #74
@tlancina
[code]

[2019-11-04 18:34] tlancina commented on #79
hey @hijoncon just a few questions for you:
- Is there any way for us to reproduce this issue?
- Does it happen every time you try to run on the simulator?
- Is the app you're installing very large?
- Does it on an already started simulator vs. one that is cold booting?

I have run in to this once or twice during testing, but it is very rare and re-running always seems to work.  I did some digging

[2019-11-06 00:57] chrux commented on #83
I haven't been able to install the app using native-run on iOS, it stuck in the command and nothing happens

[2019-11-08 13:09] patryk-fuhrman commented on #44
@tlancina I am using XCode 11.2

[code]
In native-run/dist/utils/simulator.js there is a line 24 which looks like this:
[code]

but none of devices from ````xcrun simctl list --json```` contain property ````availability```` so it crashes. I think the fix may be to change line 24 into:

[code]

````crun simctl list devices --json```` result for my setup:

[code]

[2019-11-08 13:10] linkito87 commented on #83
I have the same issue... command starts and nothing happens...

[2019-11-08 19:04] tlancina commented on #44
@patryk-fuhrman update native-run!

[2019-11-08 19:29] patryk-fuhrman commented on #44
@tlancina turned out my npm install was corrupted and my update attempt didn't work. I was on 0.2.2 native-run, sorry for wasting your time and thanks for the answer 👍

[2019-11-15 09:44] BorntraegerMarc opened #88 "Add "no-run" option"
Hi!

The command `ionic cordova run ios --livereload` uses by-default `native-run`

In my particular case I don't want automatically start a simulator nor auto run the app in any connected device. I would rather like to run the app with XCode myself.

That's why I suggest to add a `no-run` option which will not run anything automatically.

[2019-11-15 13:43] ochikov commented on #39
I have the same error. When run the command `ionic cordova run android -l` without opened device in simulator, I get very old device with old Android version.
When opened device in simulator with Android 10, (Nexus 5X) i get the same error. The output of the command `native-run android --sdk-info` is as follows:

[code]

[2019-11-15 13:47] ochikov commented on #39
My solution is to run the following commands:
`adb kill-server`
`adb root`

Then again run the command: `ionic cordova run android -l` and the app is successfully started on later sdk version.

[2019-11-19 13:41] SchnWalter opened #89 "Improve parsing of adb errors: INSTALL_FAILED_OLDER_SDK"
## Version:

0.2.9

## Description:

When installing an APK that requires a newer Android SDK version, an `ERR_UNKNOWN` error is displayed, but **adb** specifically displays an `INSTALL_FAILED_OLDER_SDK` error.

I've tried looking for the 'adb' source code in order to find a list of known errors, but I couldn't find anything, so I've created this issue in the hope that someone knows where those er

[2019-11-19 13:55] SchnWalter commented on #34
I think that we can close this in favor of #89

Maybe someone has an idea on how to parse the known `adb` error messages. I've tried looking for the `adb` source code, but had no luck.

[2019-11-19 19:53] dwieeb commented on #89
Yeah, definitely need to handle this case.

---

The parsing of adb output is here:

https://github.com/ionic-team/native-run/blob/6bb6585bdd43136f54a349216e15717a023a2e9d/src/android/utils/adb.ts#L232-L236

The parsed "event" is used here: https://github.com/ionic-team/native-run/blob/6bb6585bdd43136f54a349216e15717a023a2e9d/src/android/utils/adb.ts#L190

[2019-11-19 19:56] dwieeb commented on #34
@SchnWalter We also boot up the `emulator` process which has its own issues separate from `adb`.

This particular issue is for adding better error handling with the `emulator` process, and uncovering more details from emulator output, which is on average less helpful than adb output.

The existing code for this is here: https://github.com/ionic-team/native-run/blob/9b87583549b7fd881e425af646fe1a82

[2019-11-20 22:04] tlancina commented on #83
@chrux @linkito87 using latest native-run (0.2.9)?

[2019-11-21 10:27] michelepatrassi commented on #67
@gravyplaya you need to go to xcode and register the device in the signing & capabilities tab (you need to do this the first time you connect a new device)

[2019-11-21 10:37] michelepatrassi commented on #83
Just updated to iOS 13.2.3 and running this command
[code]
 got stuck at
[code]
with native run `0.2.9`.
Was not happening yesterday before the minor update (I already have iOS 13).

Quick update: I simply run the same command again and it worked 🤷‍♀️ didn't do any changes except unplugging and plugging my device again and re-running the command.

[2019-11-25 23:11] t-jones opened #90 "ios.utils.simulator.getSimulators not parsing xcode version correctly"
**Version:**
0.2.9
**Description:**
I was troubleshooting #74 and discovered that my xcode version was old (`9.4.1`) which is why I'm getting that issue, and also discovered that `native-run` checks for that but parses the version number incorrectly, so it is not caught.

**Command Output:**

From a `ts-node` repl, node `v10.16.0`.  Compare to the [source](https://github.com/ionic-team/native-run/

[2019-11-27 02:57] LudwigBrio opened #91 "[native-run] ERR_AVD_HOME_NOT_FOUND: No valid Android AVD home found."
**Native run Version:** 0.2.9
**Ionic cli Version:** 5.4.9

**Description:** I want to run the following command `sudo ionic cordova run android --device` but I have the error below

**Command Output:**
![image](https://user-images.githubusercontent.com/51226728/69689680-86f58480-1104-11ea-8faa-72904981b927.png)

**SDK Info:**
![image](https://user-images.githubusercontent.com/51226728/69689711-a0

[2019-11-27 17:23] dwieeb commented on #91
If you're using `sudo`, then the command runs as a different user. It won't find the AVD home in your home directory because it's using a different home directory. Don't use `sudo` with Ionic.

[2019-11-27 17:23] #91 closed

[2019-11-30 21:33] jdnichollsc commented on #67
I was getting a warning:
`You currently don't have access to this membership resource. To resolve this issue, agree to the latest Program License Agreement in your developer account.`
This was fixed after navigate to `https://developer.apple.com/account`, accept the Agreement, and try again from Xcode, also registering the device from Signing & Capabilities 👍

[2019-12-03 12:03] ctfrancia opened #93 "ERR_NO_DEVICE: No hardware devices found."
**Version:**

version: 0.2.9

**Description:**

won't find device and _when/if_ the device is found stops monitoring after 20 seconds.
1st issue currently faced is that it takes about 30 minutes of me trying to get the app to launch on my phone.

2nd(not sure if related to you guys): when viewing in chome://inspect quickly after viewing any console logs I get the pop up saying to `connect device t

[2019-12-04 17:29] dwieeb commented on #93
@ctfrancia Please check to see if the latest release (0.3.0) solves this issue for you. If not, please run the following and post output:

[code]

[2019-12-09 15:06] ctfrancia commented on #93
sorry for the late comment, been a long week. I'll update and let you know at the end of the day the results, thanks.

[2019-12-09 16:24] ctfrancia commented on #93
still the same issue:
results after `$ native-run android --list --verbose`
[code]

[2019-12-09 16:30] dwieeb commented on #93
It looks like you didn't update to 0.3.0, unless I missed something.

[2019-12-09 16:38] ctfrancia commented on #93
that's strange, when I run
after doing `yarn global upgrade native-run` nothing happens. Let me look into this and see whats going on.

[2019-12-10 09:31] ctfrancia commented on #93
I upgraded it to `0.3.0` however the issue persists:

[code]

my device is plugged in.

[2019-12-10 16:53] dwieeb commented on #93
There's a difference in your output now:

[code]

My guess is adb is being finicky as usual. Try unplugging & plugging in your device.

[2019-12-11 16:23] ctfrancia commented on #93
yea, so, it is being very finicky. What I have noticed is that it depends frequently on the cord used to plug the android device into the computer with the USB cable. If it's a good quality cable then it tends to pick it up easier (though there is still wrestling required) and if it is a bad/cheap cable then severe frustration ensues. Strange it's this finicky. Thanks

[2019-12-11 16:23] #93 closed

[2019-12-20 08:35] xmarkclx commented on #75
I have this problem. What did you do?

[2019-12-21 14:07] dex252 commented on #53
Check it. I have the same problem. https://chromium.googlesource.com/android_tools/+/347a7c8078a009e98995985b7ab6ec6b35696dea

[2020-01-06 09:44] junaid5546 commented on #41
This worked for me:
1- ionic cordova platform rm ios
2-ionic cordova platform add ios
3- ionic cordova run ios -l

[2020-01-07 14:41] paolosanchi commented on #53
Worked! Just remember to execute the command shell as administrator

[2020-01-08 10:01] michelepatrassi commented on #27
After running this
[code]

I had
[code]

Because of the error, I was thinking that nothing was working at all. Then I waited and I had the app working anyway with live-reload on the device

[2020-01-11 07:35] junbonglee commented on #78
Having same issue. It has been almost 4 months now since first error was reported. Is there any way to solve this?

[2020-01-13 10:22] ramakrishna-src commented on #41
when i run this command in visual studio code **ionic cordova  emulate ios** i got this error

**./platforms/ios/build** --build folder is not created in my project
and i am new to ios app
![Screen Shot 2020-01-13 at 15 44 35](https://user-images.githubusercontent.com/58976856/72247880-dc85e200-361b-11ea-9c57-aecd20942da4.png)

**[native-run] ERR_UNKNOWN: Path 'platforms/ios/build/emulator/myapp.a

[2020-01-13 14:35] kumarh526 opened #100 "ERR_AVD_HOME_NOT_FOUND: No valid Android AVD home found. livereload not working"
C:\users\USERNAME\ .android\avd
just create the avd folder in yours .android folder and then run command
ionic Cordova run android --device --livereload

[2020-01-16 15:51] tlancina commented on #41
@ramakrishna-src I think I've seen that before, the Cordova build is stopping short so there's nothing for `native-run` to run.  Make sure your `cordova-ios` version is up to date and supports the latest version of Xcode (you can check it with `ionic info`)

[2020-01-18 10:28] coloz commented on #65
same error

[2020-01-23 12:18] ramakrishna-src commented on #41
Thank you @tlancina  my problem was fixed

[2020-01-23 12:19] ramakrishna-src commented on #41
Thank you @tlancina  my problem was fixed

[2020-01-23 12:35] ramakrishna-src commented on #41
Hi @tlancina i got white space issue b/w header and content whenever **drag the content up and down**
**note**:only got this problem in ios app using ionic 3 and in android working fine please help me
![1579782639502](https://user-images.githubusercontent.com/58976856/72984903-c42b7980-3e0a-11ea-90bf-18fcc053e0d2.JPEG)
thanks

[2020-01-23 12:38] ramakrishna-src commented on #41
i did this but scrolling is not smooth
.ios {
  <your-screen> {
    .scroll-content {
      -webkit-overflow-scrolling: auto !important;
    }
  }
}

[2020-02-02 02:01] andrewzagorski opened #106 "--list causes unhandled error"
I want to start by saying this almost certainly is not unique and I'm just stupid but I can't find a fix, if someone could point me to one I would be very happy.

**Version:**

0.3.0

**Description:**

native-run --list causes an unhandled 'error' event
native-run android --app gives ERR_BAD_INPUT: --app is required

**Command Output:**
native-run android --app --verbose makes the command work and

[2020-02-02 22:14] dwieeb commented on #106
@andrewzagorski Thanks for the issue report! I believe this is a duplicate of https://github.com/ionic-team/native-run/issues/35

The workaround is `native-run android --list`.

[2020-02-13 21:12] tlancina opened #107 "Use major Developer Disk Image version"
I was never sure of how this worked and whether there would be issues between minor versions, but having an older version mounted seems to work just fine, so we should change the version check.

[2020-02-21 12:20] ctfrancia opened #109 "app when launched opens and closes instantly"
**Version:**

0.3.0

**Description:**

after the command `ionic cordova run ios` it compiles but then when it gets to the final stage
`native-run ios --app "platforms/ios/build/device/<app name>.ipa" --device` it tries to launch, it opens and then closes immediately,

**Command Output:**

too much to put here but I'll put the last bit, if there is a section you're interested in let me know and I'l

[2020-03-23 15:29] wellwoller opened #112 "native-run searching for unsigned apk while apk is already signed"
**Version:**

0.3.0

**Description:**

This happened after I upgraded to ionic 5, angular 9 etc. (Basically a full upgrade of my npm modules, ionic modules and cordova + plugins)
While running `ionic cordova run android -- device --prod --release` I get an error because native-run can't find the unsigned version of my apk. As you can see below my app is being built and signed afterwards.  But nati

[2020-03-28 16:37] tatianilima commented on #75
Same problem here. What did you do? I have a Macbook too

[2020-04-01 19:26] MarioC3 commented on #112
This is also happening on our project. Did you find a solution for this?

[2020-04-04 14:59] davazro commented on #42
I can not run a basic tabs application generated with  ionic start myapp tabs on my device.  This is the log of  **native-run --list --verbose** command

[code]

[2020-04-04 15:16] davazro opened #113 "I can't run basic tabs app on my device. Error: connect ECONNREFUSED 127.0.0.1:27015"
**Version:**

`1.0.0`

**Description:**
I can't run basic tabs app  on my device. I get this Error: connect ECONNREFUSED 127.0.0.1:27015
I've got my Xiaomi redmi note 7 connected with activated developer mode, debug mode, allow install from usb, etc.  I also deactivated antivirus firewall on my pc.

What's the problem?

Can anyone help me?

**Command Output:**

[code]

**SDK Info:**

[code]

[2020-04-04 19:46] dwieeb commented on #113
Duplicate of https://github.com/ionic-team/native-run/issues/35

[2020-04-04 19:46] #113 closed

[2020-04-04 19:46] #106 closed

[2020-04-09 01:35] LudwigBrio commented on #91
Hello I open again this issue because, I have the same issue and I cannot run `ionic cordova run android --device` without `sudo`. Do you know How I can do it please?

[2020-04-12 14:45] sankacoffie commented on #63
Same for me, thanks @dwieeb!

[2020-04-19 18:03] cxcxcxcx commented on #65
Same problem. This seems related to non-latin chars in the path. Note that the app name is not displayed correctly.

client:afc makeDirectory: PublicStaging/Φ»╗σà╕τ▒ì.app +0ms
  native-run Caught fatal error: RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 27. Received 28
  native-run     at boundsError (internal/buffer.js:77:9)
  native-run     at writ

[2020-04-19 18:16] cxcxcxcx commented on #65
Sigh, turns out that it's in https://www.npmjs.com/package/node-ioslib , which is not open sourced.

In the generated afs.js, it's clear that `var buf = Buffer.alloc(s.length + 1);` should be replaced by  `var buf = Buffer.alloc(Buffer.byteLength(s) + 1);`

Also, all the strings responded should be decoded with UTF-8, rather than String.fromCharCode(token)

[2020-04-22 22:58] dwieeb opened #115 "Handle DeviceLocked better"
When the `DeviceLocked` error occurs, `native-run` terminates, which can be annoying after running a long toolchain to build and deploy the app. Instead of terminating, we should print a message to unlock the device and try re-deploying continually at some interval.

ref: https://github.com/ionic-team/native-run/issues/114

[2020-04-22 22:59] dwieeb commented on #114
The solution is to unlock your device and re-run.

I created https://github.com/ionic-team/native-run/issues/115 to handle this error better.

[2020-04-24 06:27] jlegido opened #116 "Improvement to the wiki page"
First of all many thanks to all the people involved in this project for their time.

I would like to suggest an improvement to the [wiki page](https://github.com/ionic-team/native-run/wiki/Android-Errors). I was unable to fork then submit a Pull Request, looks like that it's not possible yet for wikis.

Kindly add below text:

---------------
**ERR_AVD_HOME_NOT_FOUND**

Create the missing director

[2020-04-24 06:29] jlegido commented on #63
Many thanks, I [submited](https://github.com/ionic-team/native-run/issues/116) your reply asking to incorporate it to the [official documentation](https://github.com/ionic-team/native-run/wiki/Android-Errors)

[2020-04-30 19:45] #114 closed

[2020-05-20 11:08] iChristosK commented on #83
** ARCHIVE SUCCEEDED **

Running command: xcodebuild -exportArchive -archivePath adiMarine.xcarchive -exportOptionsPlist /Users/Christos/Gitlab/Ionic/ios_adimarine/adimarine_ios/platforms/ios/exportOptions.plist -exportPath /Users/Christos/Gitlab/Ionic/ios_adimarine/adimarine_ios/platforms/ios/build/device
2020-05-20 13:52:01.692 xcodebuild[29097:358894] [MT] IDEDistribution: -[IDEDistributionLogg

[2020-05-24 18:05] alexandertrev commented on #65
Any news on the issue?

[2020-05-26 22:03] dwieeb commented on #65
@cxcxcxcx (and others) I've created a PR that open sources node-ioslib: https://github.com/ionic-team/native-run/pull/124 When it's merged, would you be up for creating a PR to implement the proposed fixes?

[2020-06-16 18:34] rajeev99342 commented on #37
Hi,
I was facing the same issue while running the command - ionic Cordova run android.
But it was failing with message - > ERR_NO_TARGET
then I start searching on the internet but I didn't get any success.
finally, I closed my centos terminal and google chrome developer console.
and restart my phone and tried again. NOw this time it's run successfully.
I think this will help new visitors to this q

[2020-06-24 10:43] obayit opened #129 "SyntaxError: Unexpected token {"
**Version:**

1.0.0

**Description:**

When I run `native-run android --list --json --verbose` I get an error.

[code]

**SDK Info:**

~~Same error when i run `native-run android --sdk-info`~~
**Edit:** not the same error. `--sdk-info` gives:
[code]

To be honest, my android sdk installation might be wrong.
I installed it manually at first, then using `apt`, then copied files from manual installat

[2020-06-24 14:11] dwieeb commented on #129
@obayit What Node version are you using?

[2020-06-24 16:46] obayit commented on #129
@dwieeb `node --version` outputs `v8.16.2`

[2020-06-24 16:58] #129 closed

[2020-07-02 09:39] ZaLiTHkA commented on #28
Just to add my 2-cents' worth: I needed to run a current project in an older Android version (emulator), which was giving me a similar issue as that mentioned here.. I didn't have multiple targets available, only a single emulator already running, but adding `--host` (the new replacement for `--address`), `--port`, and `--no-native-run` allowed me to deploy and run my app in the older Android vers

[2020-07-08 09:24] Sheetal-3098 commented on #100
After doing this faced another issue

[native-run] Selected hardware device 3fc9069a7cf5
[native-run] Installing platforms\android\app\build\outputs\apk\debug\app-debug.apk...
[native-run] ERR_UNKNOWN: Non-zero exit code from adb: 1
[native-run]
[native-run]    More details for this error may be available online:
[native-run]
[native-run]    https://github.com/ionic-team/native-run/wiki/Android-Er

[2020-07-08 23:04] imhoffd commented on #100
Run with `--verbose` flag like it asks and then post the full output.

[2020-07-16 02:31] proverbian commented on #63
Thank you! solved my issue

[2020-07-16 20:06] #100 closed

[2020-07-18 15:02] meuser opened #137 "RangeError [ERR_OUT_OF_RANGE]"
Unable to run native-run on iOS with Ionic projects with ™ in the config name tag.  Android runs fine.  Note that there is no problem running the app directly from xcode.

[native-run] RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 26. Received 27
[native-run]     at boundsError (internal/buffer.js:77:9)
[native-run]     at writeU_Int8 (internal/buffer

[2020-07-20 23:25] imhoffd commented on #137
Duplicate of https://github.com/ionic-team/native-run/issues/65

[2020-07-20 23:25] #137 closed, assigned to nobody

[2020-08-13 15:46] manel00 opened #146 "ERR_UNKNOWN: Non-zero exit code from adb: 1"
[code]
**IONIC 5** I'm getting all the time this error and don't know what to do, i removed everything and download from github once more, i cannot understand anything, PLEASE NEED HELP

[2020-08-13 16:41] imhoffd commented on #146
Re-running the command with the `--verbose` flag may provide more information.

[2020-08-20 15:14] manel00 commented on #146
I did it, it's the same, i remove everything and git clone, and it works ;) finally!

[2020-08-20 16:43] #146 closed, assigned to nobody

[2020-09-10 18:57] #64 closed

[2020-09-10 19:03] imhoffd commented on #116
@jlegido This exists as a feature in native-run 1.1.0, so this documentation is no longer necessary. Please give 1.1.0 a try! Thanks for the suggestion.

[2020-09-10 19:03] #116 closed

[2020-09-14 09:50] Florian-crg commented on #65
I got a similar error when I run "ionic cordova run ios -l --external --device"
All works good if I run it from xCode or the browser though.

The output :

[code]

[2020-09-17 12:22] rgustavsson commented on #65
Any workarounds? I have a repository where the command is working, and a repository where I get this error. Its on the same development machine..

UPDATE: Found that `no-native-run` worked well so that's an OK workaround

[2020-09-22 09:40] J4cku commented on #60
With iOS 14 it stopped working for me - throwing the same error. Could anyone offer some guidance on what to do to make it work? @HashNotAdam solution did not worked for me

[2020-09-22 09:42] J4cku commented on #75
Anyone can help with that? Why was it closed?

[2020-09-22 16:51] imhoffd commented on #75
This is likely an issue with the Ionic CLI, would you mind [creating a new issue there](https://github.com/ionic-team/ionic-cli/issues)?

[2020-09-22 18:11] J4cku opened #155 "Error: InvalidService"
**Description:**
It is impossible to serve locally app on iOS 14 (with xcode 12, not sure whether it works with older version)

**Steps to Reproduce:**
I even created small repo that when I try to deploy fails
https://github.com/J4cku/ios14-native-run-bug

1. npm install
2. ionic cordova platform add ios
3. ionic cordova run ios --verbose --livereload --external --target=OMITTED --consolelogs

**O

[2020-09-22 18:11] J4cku commented on #75
Just did that (even added small repo to reproduce):
https://github.com/ionic-team/ionic-cli/issues/4561

[2020-09-22 18:31] imhoffd commented on #75
@J4cku That doesn't look like the same problem. In fact, your issue _is_ an issue with native-run. I'll move it.

[2020-09-22 18:32] imhoffd commented on #155
Duplicate of https://github.com/ionic-team/native-run/issues/60

[2020-09-22 18:32] #155 closed, assigned to nobody

[2020-09-22 23:15] gnarco commented on #60
Since our devices updated to ios 14, it's no more possible to build and test on a physical device with CLI.

 native-run:ios:lib:protocol:lockdown Response: {"Error":"InvalidService","Request":"StartService","Service":"com.apple.debugserver"} +9ms
  native-run Caught fatal error: Error: InvalidService
  native-run     at LockdownProtocolReader.parseBody (/usr/local/lib/node_modules/native-run/dist

[2020-09-23 12:33] mariusbolik commented on #60
I also have this issue. I'm using Xcode 12 and iOS 14. I've heard `ios-deploy` also has some issues with iOS 14.

[2020-09-23 13:28] gnarco commented on #60
We can bypass.

I posted a solution here :
https://stackoverflow.com/questions/63956106/ionic-serve-on-ios-14-device-error-invalid-service

[2020-09-23 18:11] ekrapfl commented on #60
I am also seeing this after updating my device to iOS 14 (Xcode version 12).  The workaround is fine, but it would be nice to see a resolution to this issue.  Particularly since the workaround is basically "don't use native-run".

[2020-09-24 16:13] cmeuser opened #156 "Error: InvalidService"
**Version:**

1.1.0

**Description:**

App does not launch on iOS device.

**Command Output:**

[native-run] Error: InvalidService
[native-run]     at LockdownProtocolReader.parseBody (/usr/local/lib/node_modules/native-run/dist/ios/lib/protocol/lockdown.js:37:19)
[native-run]     at LockdownProtocolReader.onData (/usr/local/lib/node_modules/native-run/dist/ios/lib/protocol/protocol.js:53:40)
[nat

[2020-09-24 20:15] imhoffd commented on #156
Duplicate of https://github.com/ionic-team/native-run/issues/60

[2020-09-24 20:15] #156 closed, assigned to nobody

[2020-09-24 22:14] #10 closed

[2020-09-26 00:48] imhoffd commented on #5
But for the majority of users, this is a nice feature. We can set the timeout to something like 5s and warn when it's reached that we're killing the ADB server.

[2020-09-26 00:53] #5 closed

[2020-09-28 23:44] #60 closed

[2020-09-28 23:54] imhoffd commented on #60
Thanks for the report everyone! native-run 1.2.0 should support iOS 14, which resolves this issue.

[2020-09-29 04:56] ludufre commented on #60
Apparently the `signal-exit` is missing from dependencies from this new version.

[code]

After manual install `npm i -g signal-exit`:

[code]

[2020-09-29 05:07] ludufre commented on #60
I created the PR #158

[2020-09-29 15:54] imhoffd commented on #60
Thanks @ludufre! 😅

1.2.1 is out with your fix!

[2020-09-29 22:43] #32 closed

[2020-10-02 20:51] sebastian-zarzycki-apzumi commented on #109
It still happens for 1.2.1. Opens, then instantly closes. Works fine when opened manually afterwards. Works fine when launched from XCode.

[2020-12-07 18:43] #115 closed

[2020-12-07 19:12] Ionitron commented on #115
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run/v/1.3.0)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-20 20:39] kawazoe commented on #35
This is still happening to me on linux in 1.2.2.

[code]

Looking only for android devices works as expected.

[2021-06-03 14:08] Gabriel-des opened #183 "Android list is not working"
**Version:**
1.3.0

**Description:**
I'm trying to use the capacitor's livereload function in an Android emulator, but to no avail. I tried to get a list of devices on my computer, but none show up. My emulator comes up with `adb devices`, but when I try to use `npx native-run android --list` the console gives me an error and a link:

The link takes me to the [Ionic Native Wiki](https://github.com

[2021-06-07 12:03] leonardofmed commented on #183
I'm having the exactly same problem. I can see my emulator with `adb devices`, but can't with `ionic capacitor run android  --list` or `npx native-run android --list`.

[2021-06-08 09:29] #183 closed, assigned to nobody

[2021-07-09 16:31] jskrepnek opened #193 "Configuration file or env variable to define default simulator / AVD"
The default simulator is the last one returned by xcrun.  This can lead to an undesirable default, especially if simulators for multiple versions of iOS are installed, or having to specify the desired default every time or create brittle run scripts.  I'm not aware of any way through Xcode to manipulate the order or to "hide" simulators from the list without deleting them.

So I'm suggesting a way

[2021-07-10 15:52] kisaragi-hiu opened #194 "(documentation) The wiki page for Android should mention --verbose"
##### Request

https://github.com/ionic-team/native-run/wiki/Android-Errors should mention the `--verbose` option to troubleshoot SDK path issues, for example by adding a paragraph like this:

##### Narrative

I was trying to install capacitor on my Linux machine and couldn't find a way to get `npx cap run android` to work. It would fail with this message, linking to [this page](https://github.com

[2021-07-24 15:43] juanchehin opened #195 "No suitable API installation found."
Hi, when I run 'npx cap run android' I get the following error. Any solution?

ERR_UNSUITABLE_API_INSTALLATION: No suitable API installation found.

![cap](https://user-images.githubusercontent.com/40132117/126873740-5e835ebd-c0d3-45c2-b71c-eed19818bbaf.png)

[2021-07-25 23:32] juanchehin commented on #195
Hi, in the end you were able to fix it by installing an avd module from android studio

[2021-07-26 14:02] x-stefan commented on #195
I wish the [issue page](https://github.com/ionic-team/native-run/wiki/Android-Errors) would mention it.

[Creating a virtual device](https://developer.android.com/studio/run/managing-avds) solved the issue for me as well.

[2021-07-26 14:19] juanchehin commented on #195
Brilliant

[2021-08-07 02:53] Heriberto-Juarez opened #196 "ERR_UNSUITABLE_API_INSTALLATION on MacBook Pro M1 Chip"
**Version:**

1.4.0

**Description:**

I've a Nuxt.js project. And im using capacitor to create a hybrid app.
https://capacitorjs.com/docs/getting-started#adding-capacitor-to-an-existing-web-app
This iOS tutorial is working fine:
https://capacitorjs.com/docs/ios
Works:
npx cap run ios

But android is not working:
https://capacitorjs.com/docs/android
Not working:
npx cap run android

**Command Outp

[2021-08-14 16:53] ricardo-valero commented on #196
I was having the same problem.
What they are saying in https://github.com/ionic-team/native-run/issues/195 is true and it should be added to the [docs](https://capacitorjs.com/docs/getting-started/environment-setup#android-development) or [wiki](https://github.com/ionic-team/native-run/wiki/Android-Errors). Personally, I would move the wiki to the docs.

First, I think the current supported API Le

[2021-09-03 01:31] tlancina opened #199 "iOS errors that are not DeviceLocked are swallowed"
**Version:**

1.4.0

**Description:**

Any errors that are not DeviceLocked still print `ERR_DEVICE_LOCKED: Device still locked after 1 minute. Aborting.`

[2021-09-03 01:40] #199 closed, assigned to tlancina

[2021-09-12 16:26] geocine commented on #196
I have setup everything, but still not working, I had to do this on Mac

[code]
Source: https://stackoverflow.com/questions/68387270/android-studio-error-installed-build-tools-revision-31-0-0-is-corrupted

[2021-10-08 13:36] jcesarmobile commented on #194
I just added it to the wiki.

[2021-10-08 13:36] #194 closed, assigned to nobody

[2021-10-08 13:49] jcesarmobile commented on #195
I've edited the wiki to mention the `--verbose` flag. You can use it to get better understanding of what native-run is doing and it should help with problems. Also improved the `ERR_UNSUITABLE_API_INSTALLATION` description.

Also sent https://github.com/ionic-team/native-run/pull/204, that would recommend using `--sdk-info` flag to get more information about installed/missing SDKs.
The PR also men

[2021-10-08 20:18] jskrepnek opened #205 "Select an iOS target by name and API"
Since UUIDs are different across installations, targeting by UUID makes it harder to provide convenience scripts, like an npm run command.  We install simulators across a variety of OS versions, but the default simulator seems to be a random thing, often *not* the one you want developers to be using normally.  This feature would allow us to standardize the default target on iOS.

For example:

[co

[2021-10-11 16:23] #195 closed, assigned to nobody

[2021-10-11 16:25] #196 closed, assigned to nobody

[2021-10-13 11:37] alitalaee commented on #28
I had the same issue and fixed

**
Android device over tcpip:5555 error: more than one device/emulator

This Error caused you have more than one device when you run command  `adb devices`, you should close all devices and only open one...
**

FOR ANDROID

### Enabling TCP Mode

1. Connect your device to your computer with USB to begin setup. Run `adb devices` to make sure the device is listed.

2.

[2021-10-24 09:05] kenchambers opened #210 "feat: Better error messaging on iOS"
## Bug Report

### Capacitor Version

[code]

### Platform(s)

when running:
`ionic capacitor run ios --livereload --external --verbose`

### Current Behavior

when running above command with iphone connected and screen unlocked, i get screen locked error. and It does not boot up to xcode.

recently upgraded to latest version of capacitor, i don't recall if this issue started happening immediately

[2021-10-25 10:23] jcesarmobile commented on #210
Does it detect the device as unlocked if you try to run from Xcode?
It sometimes happens to me that Xcode says the device is locked when it isn't and I have to unplug, replug and even restart the device to detect it as unlocked.

[2021-10-25 11:23] kenchambers commented on #210
@jcesarmobile
Thanks so much for the speedy response! I got a more understandable error from Xcode, I will make sure to run X code before posting on here again.
[code]

[2021-12-08 23:07] thoro23 opened #213 "Deploying to Android emulator running on Windows from WSL2"
I have an Android emulator running on Windows but my project running in WSL2. `adb` in WSL is set up to find the emulator running on Windows, so `adb devices` finds the emulator. Unfortunately `native-run --list-devices` does not show the running emulator.
When running `native-run --list-devices --verbose` it tells me that it found the emulator with `adb` but does not show it under _Connected Devi

[2021-12-09 22:31] Neo10195 opened #214 "https://github.com/apache/cordova-lib/tree/master/integration-tests"
**Version:**

**Description:**

**Command Output:**

**SDK Info:**

[2021-12-10 17:48] Neo10195 opened #216 "​                ​clientFileName​ ​=​ ​"cipd.exe""
https://github.com/luci/luci-go/blob/master/cipd/client/cipd/client.go#L1019

[2021-12-13 03:03] #216 closed, assigned to nobody

[2021-12-13 03:04] #214 closed, assigned to nobody

[2021-12-16 06:11] Pacjonek opened #218 "Port forwarding (adb reverse) stops working when startMethod is called"
**Version:**

1.5.0

**Description:**

Setting port forwarding (adb reverse) has no effect after run **startActivity** function.

I was able to get bypass the problem by removing the **-W** parameter from the ADB call which start activity:
[code]
**Command Output:**

[code]
**SDK Info:**

SDK Location:         C:\Users\prajba\AppData\Local\Android\Sdk\
AVD Home:             C:\Users\prajba\.androi

[2021-12-29 14:05] SahilSeta opened #219 "ERR_UNSUPPORTED_API_LEVEL: Unsupported API level: 32"
**Version:**

native-run failed with error
ERR_UNSUPPORTED_API_LEVEL: Unsupported API level: 32

**Description:**
ERROR OCCUR WHILE USING "npx cap run android"

**Command Output:**

**SDK Info:**

[2021-12-31 05:45] rflpsz commented on #219
I had the same problem, there are some fix for it?

[2022-01-07 10:11] aliexalter commented on #219
How to downgrade to API level 31 as native-run only supports maximum API level 31.

[2022-01-07 12:55] cromefire commented on #195
Sadly those options don't help at all at least in my case. Neither `--verbose` nor `--sdk-info` show any info at all and compiling and starting the project from android studio is also fine. Starting just produces:
[code]

[2022-01-07 13:24] jcesarmobile commented on #195
those flags are for `native-run` command, not for `cap run` command
try adding an extra `--` before the flags, that usually pass them to the following command
`npx cap run android -- --verbose --sdk-info`

[2022-01-07 15:23] cromefire commented on #195
Yeah thanks running native-run directly worked

[2022-01-10 16:56] entrifis commented on #219
Just started my first app today, following the official documentation, and got the same error. Downgrading the API is giving another error about not having the right API installed

[2022-01-11 12:20] Neo10195 opened #220 "😀"
**Version:**

**Description:**

**Command Output:**

**SDK Info:**

[2022-01-13 22:03] pattodiablo commented on #219
same to me, what to do?

[2022-01-13 22:08] aliexalter commented on #219
Try this
From Android Studio Install API level 31 from SDK manager and also install API 31 emulator from AVD manager.
Then use npx cap copy android or sync. Run project in android studio.
For live reload in cordova use API level 31 virtual device as target.

[2022-01-17 13:54] inorganik commented on #219
same issue

[2022-01-18 08:31] gpetrov commented on #219
It will be nice if capacitor supports Android api 32 as this is the default when installing Android Studio now.

Also Capacitor seems to be running all fine in the emulator with Android 32. So it is probably just the check.

[2022-01-19 12:25] jcesarmobile commented on #220
please, when reporting issues provide all the requested information

[2022-01-19 12:25] #220 closed, assigned to nobody

[2022-01-19 12:32] jcesarmobile commented on #219
SDK 32 is not even official yet, so not sure why Android Studio installs it instead of the latest stable (31) that was released just a few months ago.

We are not adding support for SDK 32 until it's official and stable, please, downgrade to SDK 30 or 31.

[2022-01-19 14:06] inorganik commented on #219
Thanks for the info @jcesarmobile. Can you provide instructions for how to downgrade? I installed Android Studio recently and it shipped with SDK 32. I'm trying to publish an android version and keep hitting this error. Thanks

[2022-01-19 14:12] jcesarmobile commented on #219
From Android Studio click the grey box with a blue arrow on the top right
Then uncheck all the SDK 32 related packages and check at least SDK platform tools and one of the Google Play system images for SDK 30 or SDK 31, see screenshot

![Captura de pantalla 2022-01-19 a las 15 10 02](https://user-images.githubusercontent.com/1637892/150147201-2437431b-12dd-4d96-a903-0a387a67987b.png)

[2022-01-23 06:04] Neo10195 opened #223 "EarthEngine"
https://github.com/google/earthengine-community/blob/master/tutorials/detecting-changes-in-sentinel-1-imagery-pt-2/index.ipynb

[2022-01-27 13:12] OgeHub commented on #219
@jcesarmobile I downloaded Android Studio 25th January 2022, and had this issue of unsupported API level. Then I followed the steps your suggested to install Android 12 and 11 with lower API level. But I am now getting error of unsuitable API installation. Please I need help. Below is screenshots of my SDK installations and the error on my terminal.
![error1](https://user-images.githubusercontent.

[2022-01-27 13:24] jcesarmobile commented on #219
check the "show package details" checkbox at the bottom, so you can see which components you downloaded, you need at least SDK platform tools and one of the Google Play system images

[2022-01-31 10:59] OgeHub commented on #219
Hello @jcesarmobile , I have installed all the required packages as indicated in the screenshot you shared, but when I try to run my project, using npx cap run android, it gives me the error on this screenshot. I sorted for solution online; downloaded Java JDK, updated my environment variable and path, and restarted my vscode. I couldn't still solve the issue. Please I need your help on this. Than

[2022-01-31 11:26] jcesarmobile commented on #223
Not sure what this has to do with native-run

[2022-01-31 11:26] #223 closed, assigned to nobody

[2022-02-01 22:59] #28 closed

[2022-02-03 15:30] oleksandr-danylchenko commented on #24
@sohag1990 Thank you so much! The only thing that helped!

[2022-02-18 08:56] hosja83 commented on #37
Make sure to turn on USB debugging under Developer Options. I had Developer Options enabled but not USB and was running into the same ERR_NO_TARGET.

[2022-03-07 00:52] abiligiri commented on #219
export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/Contents/Home on macOS, you should do the equivalent on Windows

[2022-03-24 17:21] TechplexEngineer opened #226 "Typo on Wiki: "This menas the Android SDK""
On this page of the wiki: https://github.com/ionic-team/native-run/wiki/Android-Errors

In the ERR_SDK_NOT_FOUND section https://github.com/ionic-team/native-run/wiki/Android-Errors#err_sdk_not_found

"This menas the Android SDK" should be "This means the Android SDK"

[2022-04-11 16:45] distante commented on #213
@thoro23 did had to do anything special for native-run to work? On my Wsl2 it says that can not find the android sdk

[2022-04-20 13:44] jcesarmobile commented on #226
fixed, thanks!

[2022-04-20 13:44] #226 closed, assigned to nobody

[2022-04-25 12:24] mbenoukaiss opened #229 "Fails to parse ADB output because of \r"
**Version:**
1.4.0

**Description:**
Trying to run `yarn ionic cordova run android --livereload --device` leads to the error below. I'm running the command on WSL, adb and yarn are installed on WSL.
[code]

**Command Output:**
Command ran :
`yarn native-run android --app platforms/android/app/build/outputs/apk/debug/app-debug.apk --device --forward 8100:8100 --verbose`

Output :
[code]

Adding/cha

[2022-04-29 16:39] Bernix01 commented on #78
2022 this is still a thing!

[2022-04-29 16:51] Bernix01 commented on #78
Fun fact if you end up here.
non alphanumeric characters in any file will cause this error. For example an image named `árbol.png`

[2022-05-12 15:54] #219 closed, assigned to nobody

[2022-05-16 13:24] Ionitron commented on #219
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/native-run/v/1.6.0)
- [GitHub release](https://github.com/ionic-team/native-run/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-26 23:10] PacoRivera13 opened #235 "ERR_SDK_NOT_FOUND: No valid Android SDK root found."
**Version:**
1.6.0

**Description:**
I have defined my sdk location using this command on the cmd
set ANDROID_SDK_ROOT=D:\Android\sdk\
set ANDROID_HOME=D:\Android\sdk\
But any of these are working as expected.

**Command Output:**
npx capacitor run android --verbose
√ Copying web assets from www to android\app\src\main\assets\public in 1.96s
√ Creating capacitor.config.json in android\app\src\main

[2022-05-27 05:38] pi0neerpat commented on #235
Did you try using the link from the error? https://github.com/ionic-team/native-run/wiki/Android-Errors

[2022-05-27 13:56] PacoRivera13 commented on #235
Yes I did, I have my SDK installed at **C:\Program Files (x86)\Android\android-sdk**
then I installed it on a **D:Android\sdk**

set ANDROID_SDK_ROOT=D:\Android\sdk
set ANDROID_HOME=D:\Android\sdk

But any of these are working as expected.

[2022-05-27 14:47] yosr-maker opened #236 "Native-run failed"
When i run the command
#npx cap run on ios  ,
it shows this error :
**[error] native-run failed with error
 [object Object]: undefined**

![image](https://user-images.githubusercontent.com/57325844/170723127-619907a4-0f42-4a04-b580-f65d485e0cdc.png)

[2022-06-02 16:39] jcesarmobile commented on #236
Are you running from Windows?

[2022-06-02 19:53] timvahlbrock commented on #235
What worked for me: Reboot.

I just set the env variables shortly before. Seems like even after restarting the terminal NodeJs still applies new scripts with the old env variables.

[2022-06-11 23:46] ajaychandran commented on #236
I am seeing a similar error on Android.
[code]

EDIT: I am running this on Ubuntu 20.04.

[2022-06-21 01:46] meiguiyisenluo opened #239 "Unsupported API level: 33"
**Version:**

**Description:**

**Command Output:**

**SDK Info:**

[2022-06-23 12:43] jcesarmobile commented on #239
we only support final releases, SDK 33 is still beta

[2022-06-29 14:54] cyantree commented on #219
Maybe it's useful for someone. Most of the info has already been posted by other users.
I installed Android Studio via portable ZIP file on Windows and needed to do the following things to get it running:

In the shell I want to use for building/running:
[code]

Android Studio Chipmunk came with a bundled Android API 33 so `yarn cap run android` failed with the following error: `ERR_UNSUPPORTED_AP

[2022-06-29 15:52] cyantree commented on #239
Do you need support for SDK 33 or do you only want to get it running?
I'm asking because I've had the same issue with creating a fresh project and installing the latest version of Android Studio.
And I only wanted to get it running. For me the hints in #219 helped.

[2022-07-04 14:20] agungss commented on #235
I am facing the same problem. Do you have the solution right now?

[2022-07-04 14:22] agungss commented on #235
I also try "npx cap open android"
when gradle, there was an error: Supplied javaHome must be a valid directory.

But I set the JAVA_HOME correctly (edit .bashrc file, adding PATH JAVA_HOME="thepathtotheJavaJRE". But still, the problem persist.

Anyone got the solution? Many thanks

[2022-07-04 17:28] timvahlbrock commented on #235
I think this is not a bug but a configuration issue. Make sure that Java Home is actually set where you run the command. If you are on windows, make sure to reboot after setting the environment variable. Last one was the reason I had trouble. I think this issue needs to be closed.

[2022-07-07 20:53] aguetkriegerisch commented on #239
![image](https://user-images.githubusercontent.com/39163176/177869129-82a12817-503d-43bf-8b45-2726369cda10.png)
Got the same running a simple project: I tried unninstaling 'Android API 33' and 'Android API 32 (Sv2)', still not working

[2022-07-07 21:10] jcesarmobile commented on #239
Check the “show package details” checkbox and check all the SDK components for SDK 32. By default it doesn’t download everything that is needed.

[2022-07-07 21:18] aguetkriegerisch commented on #239
thanks but default selected otions seems to be enought, coz other options refers to specs that my pc doesn't have

![image](https://user-images.githubusercontent.com/39163176/177872871-3d9d76c2-dbd5-4187-bf98-273ea571aeaf.png)

you think I need to check all these options anyway? IMy processor is an Intel i7 6600

[2022-07-07 21:28] cyantree commented on #239
Please see #219 and especially
https://github.com/ionic-team/native-run/issues/219#issuecomment-1016503975
and
https://github.com/ionic-team/native-run/issues/219#issuecomment-1170085609

This shows which System Images to download because you need to download an appropriate Android System Image to get the simulator running.

[2022-07-07 21:48] jcesarmobile commented on #239
You don’t really need all of them, but at least one of Google APIs ARM 64, Google APIs Intel or Google Play Intel (I recommend the last one since with google play you can update the system WebView if needed and install apps).
Doesn’t need to match your computer processor since those are emulators and will emulate the architecture if needed. But intel emulators work best on intel computers, while A

[2022-07-09 10:27] ToschaA commented on #65
I have the same problem, none of the above work for a fix for Capacitor. For me it happend after I deleted the android platform and tried to run on my iOS (iPhone), although it works perfectly when running from xCode or browser.

Has anyone found the cause and a solution for this problem for apps running capacitor?

[2022-07-19 23:07] felp23 commented on #236
I am the same problem. I use linux PopOS 22.04.
![image](https://user-images.githubusercontent.com/46832100/179863035-f3475f9e-d7b9-4913-a34a-3d7cf3779212.png)

[2022-07-23 08:58] citydesert opened #240 "ERR_UNSUPPORTED_API_LEVEL"
Hi All!
I'm faceing minSdkVersion Error in capacitor while run: `npx cap run android`
tried to change variables in variables.gradle as like:
[code]
ro result
that's the error
[code]
In the past with cordova it was from configuration file in app root

[2022-08-15 14:18] jcesarmobile commented on #240
looks like you have Android SDK 18 installed and it's not supported by native-run, install a newer SDK from 21 to 32. 32 is recommended (and the highest supported at the moment).

[2022-08-22 09:55] mariusbolik opened #241 "Doesn't work with iOS 15.5 / Xcode 13.4.1"
**Version:**

naive-run -> 1.6.0
@capacitor/ios -> 3.7.0
@capacitor/core -> 3.7.0

**Description:**

I updated my iPhone 11 to iOS 15.5 and Xcode to 13.4.1. Sadly, I can't deploy app to my phone anymore.
This is the command I used: `ionic capacitor run ios --livereload --external`.
It works when I install the app directly with Xcode on my iPhone.

**Command Output:**

[code]
Error without `--verbo

[2022-08-29 13:53] ZaLiTHkA opened #244 "`native-run` can't find my installed SDK Platforms"
**Version:**

`1.6.0`, installed globally from NPM

**Description:**

`native-run` never manages to locate my installed API levels, failing with `ERR_UNSUITABLE_API_INSTALLATION` every time.

I install both Android Studio and Android SDK using Scoop (https://github.com/ScoopInstaller/Scoop), but I've beeing doing it this way for ages and never had issues like this before.

the latest Android SDK t

[2022-08-29 16:26] jcesarmobile commented on #240
closing as there was no response

[2022-08-29 16:26] #240 closed, assigned to nobody

[2022-09-01 11:11] #239 closed, assigned to nobody

[2022-09-06 14:02] ZaLiTHkA commented on #244
is anybody able to shed some light on this one..? I've also just updated to `native-run@1.7.0`, but nothing has changed.

I have checked the [Android Errors](https://github.com/ionic-team/native-run/wiki/Android-Errors#err_unsuitable_api_installation) wiki page, and I do indeed have the necessary SDK Platforms installed (matching both "target" and "minimum" SDK API values), along with numerous oth

[2022-09-06 14:29] ZaLiTHkA commented on #244
I think I've worked out what's going wrong here..

this is failing because `scoop` installs "apps" to a versioned path, then symlinks it to `/current`, and `native-run`'s `findAllSDKPackages` method simply does not like symlinks.

I confirmed this by cloning this project, linking it globally in my dev environment, and replacing the `sdk.root` reference from https://github.com/ionic-team/native-run

[2022-09-07 06:45] ZaLiTHkA commented on #244
so here's an interesting one, although the PR I sent for this _does work_, it seems there are some other problems cropping up.. I'm not sure if this is also related to the use of symlinks though.

I highly doubt my changes here would have affected this. could I ask someone who _doesn't_ have my "environment symlink" issues to perhaps try this one?

---

reading my environment SDK installation deta

[2022-09-07 10:36] ZaLiTHkA commented on #244
**NOTE:** I've opted to simply replace my Scoop-based installations of Android Studio and the Android SDK with those from the official installer..

I have project deadlines coming up and I don't have time _right now_ to dig too much further into this one. I would like to come back to this when I can, because I believe it is something worth catering for.

with that said, if anybody in "Team Ionic"

[2022-09-15 05:33] muhammad-gul-dm commented on #65
I got the same error. Please help!

[error] RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 74. Received 75
[capacitor]         at new NodeError (node:internal/errors:371:5)
[capacitor]         at boundsError (node:internal/buffer:86:9)
[capacitor]         at writeU_Int8 (node:internal/buffer:741:5)
[capacitor]         at Buffer.writeUInt8 (node:interna

[2022-09-20 06:57] chungmarcoo commented on #65
same here

[2022-09-20 14:43] crowbait opened #257 "ERR_UNSUPPORTED_API_LEVEL: Unsupported API level: 23"
**Version:**

1.7.0

**Description:**

ERR_UNSUPPORTED_API_LEVEL: Unsupported API level: 23
Without clear reason, native-run seems to have stopped supporting my MinSKD. I have not knowingly changed the variables.gradle or project settings in android studio...
What I _did_ do was get rid of some AVD devices I didn't use anymore.

**Command Output:**

Since I normally use `npx cap run android`, whic

[2022-09-20 15:01] crowbait commented on #257
Update: if I have a physical device connected, `npx cap run android` does work. It does not present a list of devices (although the emulator is running), but chooses the physical device automatically and succeeds in deploying the app.
I can also run the app directly from android studio on the AVD, if I set the configuration to app instead of android:
![image](https://user-images.githubusercontent.

[2022-09-26 12:49] gaetanlgce opened #259 "Customize ADB commands timeout"
Hi,

On old devices, ADB invocation can be quite long to be executed, more than 5 seconds.
It could be useful to allow overriding the value of 5 seconds. (cf issue #5).

Currently, I edit the dist version of the file (https://github.com/ionic-team/native-run/blob/develop/src/android/utils/adb.ts#L469) in my node_modules to force another value of timeout.

Is there a proper way to pass a param for

[2022-09-28 04:30] hinsxd commented on #65
same, exactly the same error `It must be >= 0 and <= 74. Received 75`

[2022-10-19 08:05] me-to-you93 commented on #259
Same problem here, would be interested by this option !

[2022-11-03 19:27] 188599 commented on #229
Same issue here.

[2022-11-22 10:42] bastienlemaitre commented on #218
Up

[2022-11-23 17:18] #241 closed, assigned to nobody

[2022-11-26 22:05] flozero commented on #109
I have the same error. It worked and livereload after I run it again directly from xcode but it should jsut work. What are the differences here ?

I am on:
- m1
- node v16.13.1
- ionic 6.20.3
- native-run 1.7.1